
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br" >
    <head>
        {% block head %}
        <meta charset="utf-8">
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js') }}"></script>
        <![endif]-->
        {% block title %}
        <title>{{ title }}</title>
        {% endblock %}

        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <!-- Favicon caixa -->
        <link rel="icon" href="{{ asset('bundles/vitergeratgerat/img/favicon.ico') }}" type="image/x-icon">

        <!-- jQuery UI CSS -->
        <link href="{{ asset('bundles/vitergeratgerat/css/jquery-ui/css/redmond/jquery-ui-1.10.3.custom.min.css') }}" rel="stylesheet">

        <!-- DataTables CSS -->
        <link href="{{ asset('bundles/vitergeratgerat/css/datatables/media/css/jquery.dataTables.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/vitergeratgerat/css/datatables/media/css/jquery.dataTables_themeroller.css') }}" rel="stylesheet">

        <!-- DataTables Tabletools -->
        <link href="{{ asset('bundles/vitergeratgerat/js/DataTables-1.9.4/extras/TableTools/media/css/TableTools.css') }}" rel="stylesheet">

        <!-- Bootstrap CSS -->
        <link href="{{ asset('bundles/vitergeratgerat/css/bootstrap/dist/css/bootstrap.min.cerulean.css') }}" rel="stylesheet">

        <!-- Font Awesome CSS -->
        <link href="{{ asset('bundles/vitergeratgerat/css/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">

        <!-- CSS da página -->
        <link href="{{ asset('bundles/vitergeratgerat/css/gerat.css') }}" rel="stylesheet">

        <!-- jQuery  -->
        <script src="{{ asset('bundles/vitergeratgerat/js/jquery.js') }}"></script>

        <!-- Highchart jQuery  -->
        <script src="{{ asset('bundles/vitergeratgerat/js/highcharts/js/highcharts.js') }}"></script>
        <script src="{{ asset('bundles/vitergeratgerat/js/highcharts/js/highcharts-more.js') }}"></script>

        <!-- Script para permitir a exportação da tabela para o Excel -->
        <script type="text/javascript" charset="utf-8">
            $(function() {
                $('{{ '.' }}table_export').dataTable( {
                    "sDom": 'T<"clear">lfrtip',
                    "oTableTools": {
                        "sSwfPath": "{{ asset('bundles/vitergeratgerat/js/DataTables-1.9.4/media/swf/copy_csv_xls_pdf.swf') }}"
                    },
                    "oLanguage": {
                        "sProcessing": "Aguarde enquanto os dados são carregados ...",
                        "sLengthMenu": "Mostrar _MENU_ registros por pagina",
                        "sZeroRecords": "Nenhum registro correspondente ao criterio encontrado",
                        "sInfoEmtpy": "Exibindo 0 a 0 de 0 registros",
                        "sInfo": "Exibindo de _START_ a _END_ de _TOTAL_ registros",
                        "sInfoFiltered": "",
                        "sSearch": "Procurar",
                        "oPaginate": {
                            "sFirst":    "Primeiro",
                            "sPrevious": "Anterior",
                            "sNext":     "Próximo",
                            "sLast":     "Último"
                        },
                    },
                    "bPaginate": false,
                    "bLengthChange": false,
                    "bFilter": true,
                    "bSort": true,
                    "bInfo": true,
                    "bAutoWidth": true,
                    "bJQueryUI": true,
                });                
                $('{{ '#' }}table_export').dataTable( {
                    "sDom": 'T<"clear">lfrtip',
                    "oTableTools": {
                        "sSwfPath": "{{ asset('bundles/vitergeratgerat/js/DataTables-1.9.4/media/swf/copy_csv_xls_pdf.swf') }}"
                    },
                    "oLanguage": {
                        "sProcessing": "Aguarde enquanto os dados são carregados ...",
                        "sLengthMenu": "Mostrar _MENU_ registros por pagina",
                        "sZeroRecords": "Nenhum registro correspondente ao criterio encontrado",
                        "sInfoEmtpy": "Exibindo 0 a 0 de 0 registros",
                        "sInfo": "Exibindo de _START_ a _END_ de _TOTAL_ registros",
                        "sInfoFiltered": "",
                        "sSearch": "Procurar",
                        "oPaginate": {
                            "sFirst":    "Primeiro",
                            "sPrevious": "Anterior",
                            "sNext":     "Próximo",
                            "sLast":     "Último"
                        },
                    },
                    "bPaginate": false,
                    "bLengthChange": false,
                    "bFilter": true,
                    "bSort": true,
                    "bInfo": true,
                    "bAutoWidth": true,
                    "bJQueryUI": true,
                });
            });
        </script>

        {% endblock %}
    </head>
    <body>
        {% block navbar %}
        <!-- Fixed navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <img id="logo" height="40" src="{{ asset('bundles/vitergeratgerat/img/logo_caixa.png') }}">
              </div>
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li><a href="{{ path('gerat_home') }}" class="glyphicon glyphicon-home"></a></li>
                  {% if is_granted('ROLE_ADMIN') %}
                  <li><a href="{{ path('lista_fundos') }}">Fundos</a></li>
                  
                  <li class="dropdown">
                    <a href='' class="dropdown-toggle" data-toggle="dropdown">Risco de Liquidez <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="{{ path('consulta_liquidez') }}">Consulta valor de liquidez diário</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href='' class="dropdown-toggle" data-toggle="dropdown">Rotina Diária <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="{{ path('consulta_xml_nao_processados') }}">Consulta XML não processados</a></li>
                      <li><a href="{{ path('consulta_diferencas_xml') }}">Consulta diferenças XML</a></li>
                      <li><a href="{{ path('consulta_benchmark') }}">Consulta benchmark</a></li>
                      <li><a href="http://10.4.45.99/gerat-sf/web/app_dev.php/consulta_pastas_xml">Consulta XML faltando Bradesco</a></li>
                      <li><a href="http://10.4.45.99/gerat-sf/web/app_dev.php/renomear_xml_santander">Renomear XMLs Santander</a></li>
                      <li><a href="http://10.4.45.99/gerat-sf/web/app_dev.php/processar_xml_itau">Processar XMLs Itaú</a></li>
                      <li><a href="{{ path('simular_dpge') }}">Simular DPGE</a></li>
                      <li><a href="{{ path('consulta_monitoramento') }}">Monitoramento CR 245</a></li>                      
                    </ul>
                  </li>
                  {% endif %}

                  {% if is_granted('ROLE_USER') %}
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                    Relatórios <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <!-- Relatório atribuição de performance mensal -->
                      <li>
                        <a href="{{ path('relatorio_atribuicao_performance') }}">Relatório - Mensal
                        </a>
                      </li>
                    </ul>
                  </li>
                  {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                  <li class="dropdown">
                    <a href='' class="dropdown-toggle" data-toggle="dropdown">Administração <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="{{ path('lista_usuarios') }}">
                      Consulta usuários</a>
                      </li>
                      <li><a href="{{ path('lista_ativos_mercado') }}">
                      Lista Ativos Risco Mercado</a>
                      </li>
                      <li><a href="{{ path('lista_grupos_ativos') }}">
                      Lista Grupos de Ativos</a>
                      </li>
                      <li><a href="{{ path('consulta_ativos_por_emissor') }}">
                      Consulta ativos alocados por emissor</a>
                      </li>
                      <li><a href="{{ path('consulta_rating') }}">
                      Consulta rating por emissor</a>
                      </li>
                    </ul>
                  </li>
                {% endif %}

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li>
                      <a href="{{ path('fos_user_security_logout') }}"
                        class="glyphicon glyphicon-off" title="{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}">
                      </a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{{ path('fos_user_registration_register') }}" title="Clique aqui para se cadastrar" class="glyphicon glyphicon-user"></a>
                    </li>
                    {% endif %}
                </ul>

              </div><!--/.nav-collapse -->
            </div>
        </div>
        {% endblock %}

        <div class="container theme-showcase" id="container-theme-showcase">

        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('info') %}
            <div class="alert alert-info">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('danger') %}
            <div class="alert alert-danger">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% block content %}
        {% embed 'ViterGeratGeratBundle:Default:index.html.twig' %}
        {% endembed %}

        {% endblock %}
        </div><!-- /container -->

        {% block footer %}
        <div class="footer">
            <p class="text-center">GERAT - Gerência Nacional de Risco de Ativos de Terceiros</p>
            <p class="text-center">DETER - Diretoria Executiva de Ativos de Terceiros</p>
            <p class="text-center">VITER - Vice-Presidência de Gestão de Ativos de Terceiros</p>
        </div>
        {% endblock %}

        <!-- jQuery UI -->
        <script src="{{ asset('bundles/vitergeratgerat/css/jquery-ui/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
        <!-- jQuery Validation -->
        <script src="{{ asset('bundles/vitergeratgerat/js/jquery-validation/dist/jquery.validate.min.js') }}"></script>
        <script src="{{ asset('bundles/vitergeratgerat/js/jquery-validation/dist/additional-methods.min.js') }}"></script>
        <script src="{{ asset('bundles/vitergeratgerat/js/jquery-validation/localization/messages_PT_BR.js') }}"></script>
        <!-- Funções da página -->
        <script src="{{ asset('bundles/vitergeratgerat/js/gerat.js') }}"></script>
        <!-- Bootstrap core JavaScript -->
        <script src="{{ asset('bundles/vitergeratgerat/css/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <!-- jQuery DataTables -->
        <script src="{{ asset('bundles/vitergeratgerat/js/DataTables-1.9.4/media/js/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('bundles/vitergeratgerat/js/DataTables-1.9.4/extras/TableTools/media/js/TableTools.min.js') }}"></script>
        <script src="{{ asset('bundles/vitergeratgerat/js/dataTables.data-eu.js') }}"></script>
    
    </body>
</html>