{% extends 'ViterGeratGeratBundle:Default:base.html.twig' %}

{% block content %}
<h2><p> {{ title }} </p></h2>

<h2><p> {{ pasta1 }} </p></h2>

<h2><p> {{ pasta2 }} </p></h2>

<table id="table_export" >
  <thead>
    <tr>
      <th>#</th>
    </tr>
    </thead>
  <tbody>
    {% for arquivo in saida %}
    <tr>
        <td>{{ arquivo }}</td>
    </tr>
    {% else %}
        <p> Ok. Não existe nenhum arquivo faltando. </p>
    {% endfor %}
  </tbody>
</table>
{% endblock %}