{% extends 'ViterGeratGeratBundle:Default:base.html.twig' %}

{% block content %}

<div class="page-header">
  <h1>{{ title }}</h1>
  {% if subtitle %}
    <p>{{ subtitle|raw }}</p>
  {% endif %}
</div>

{% endblock %}