{% extends 'ViterGeratGeratBundle:Default:base.html.twig' %}

{% block content %}

<h2><p> {{ title }} </p></h2>

<p>Matrícula {{ user.username }}</p>

<p>Senha {{ user.password }}</p>

{% endblock %}
