{% if listaCaptacaoRentabilidade|length > 0 %}
<div class="row">
  <!-- Quadro/Gráfico Captação/Rentabilidade -->
  <div class="col-md-12">
    <div class="panel panel-info">
      <div class="panel-body">
        <div id="chart_captacao_rentabilidade">
        </div>
          <script type="text/javascript">
            {{ listaCaptacaoRentabilidade.grafico.render('chart1')|raw }}
          </script>
      </div>
    </div><!-- Fim - Quadro/Gráfico Captação/Rentabilidade -->
  </div>
</div>
{% endif %}