{% if listaComposicaoCarteira|length > 0 %}
<div class="row">
  <h2 class="panel_title" id="titulo_painel_2">Alocação - Composição da Carteira *</h2>
  <!-- Composição da Carteira -->
  <div class="col-md-6">
    </br></br></br></br>
    <div class="panel panel-info">
      <table class="table table-hover table-striped table-bordered">
        <thead>
          <tr class="titulo">
            <th>Ativos</th>
            <th>Total de Investimento</th>
            <th>% PL</th>
          </tr>
        </thead>
        <tbody>
          {% for composicao in listaComposicaoCarteira %}
          <tr class="text-center">
            <td>{{ composicao.nome }}</td>
            <td>R$ {{ composicao.valor|number_format(2, ",", ".") }}</td>
            <td>{{ composicao.percentual|number_format(2, ",", ".") }} %</td>
          </tr>
          {% endfor %}
        </tbody>
            </table>
        </div>
    </div><!-- /.col-md-6 -->
  
    <!-- Gráfico da composição da carteira -->
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-body">
                <div id="pie_chart_composicao_carteira"></div>
                    <script type="text/javascript">
                        {{ listaComposicaoCarteira.grafico.render('chart1')|raw }}
                    </script>
            </div>
        </div>
    </div><!-- /.col-md-6 -->
</div>
{% endif %}