{% if cronogramaVencimentoGrupo|length > 0 %}
<div class="row">
  <h2 class="panel_title" id="titulo_painel_2">Cronograma de Vencimentos</h2>
  <!-- Composição da Carteira de Crédito -->
  <div class="col-md-4">
    <div class="panel panel-info">
      <table class="table table-hover table-striped table-bordered table-condensed">
        <thead>
          <tr class="titulo">
            <th align="center">Data vencimento</th>
            <th align="center">Volume</th>
            <th align="center">% PL</th>
          </tr>
        </thead>
        <tbody>
          {% for cronograma in cronogramaVencimentoGrupo %}
          <tr class="text-center">
            <td>
              {% if cronograma.dataVencimento.format('Y') == fundoDiario.dataReferencia.format('Y') %}
                {{ cronograma.dataVencimento.format('m/Y') }}  
              {% else %}
              {{ cronograma.dataVencimento.format('Y') }}
              {% endif %}
            </td>
            <td>R$ {{ cronograma.valorVolume|number_format(2, ",", ".") }}</td>
            <td>{{ cronograma.percentual|number_format(2, ",", ".") }}%</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div><!-- /.col-md-5 -->
  
  <!-- Gráfico -->
  <div class="col-md-8">
      <div class="panel panel-info">
          <div class="panel-body">
              <div id="chart_cronograma_vencimento"></div>
              <script type="text/javascript">
                  {{ cronogramaVencimentoGrupo.grafico.render('chart1')|raw }}
              </script>
          </div>
      </div>
  </div>

</div>
{% endif %}