{% if desempenhoTipoAtivoDiarioGrupo|length > 0 %}
<div class="row">
  <h2 class="panel_title" id="titulo_painel_2">Desempenho por Tipo de Ativo - Diário</h2>
  <!-- Composição da Carteira de Crédito -->
  <div class="col-md-5">
    <div class="panel panel-info">
      <table class="table table-hover table-striped table-bordered">
        <thead>
            <tr class="titulo">
                <th>Tipo</th>
                <th>Ativos</th>
                <th>Resultado Financeiro (R$)</th>
                <th>Participação Rentabilidade</th>
            </tr>
        </thead>
        <tbody>
            {% for desempenho in desempenhoTipoAtivoDiarioGrupo %}
            <tr class="text-center">
              <td>{{ desempenho.tipo }}</td>
              <td>{{ desempenho.nome }}</td>
              <td 
              {% if desempenho.valor < 0 %}
                class="valor-negativo"
              {% endif %}
              >
                R$ {{ desempenho.valor|number_format(2, ",", ".") }}
              </td>
              <td 
              {% if desempenho.percentual < 0 %}
                class="valor-negativo"
              {% endif %}
              >
                {{ desempenho.percentual|number_format(2, ",", ".") }}%
              </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div><!-- /.col-md-5 -->

  <!-- Gráfico -->
  <div class="col-md-7">
    <div class="panel panel-info">
      <div class="panel-body">
        <div id="chart_desempenho_tipo_ativo_diario"></div>
          <script type="text/javascript">
              {{ desempenhoTipoAtivoDiarioGrupo.grafico.render('chart1')|raw }}
          </script>
      </div>
    </div>
  </div>
</div>
{% endif %}