{% if desempenhoDiarioGrupo|length > 0 %}
<div class="row">
  <h2 class="panel_title" id="titulo_painel_2">Desempenho do Fundo - Diário</h2>
  <!-- Composição da Carteira de Crédito -->
  <div class="col-md-5">
    <div class="panel panel-info">
      <table class="table table-hover table-striped table-bordered">
        <thead>
          <tr class="titulo">
            <th>Mês</th>
            <th>Rentabilidade Fundo (%)</th>
            <th>Rentabilidade Bench (%)</th>
            <th>Rentabilidade Fundo (% Bench)</th>
          </tr>
        </thead>
        <tbody>
          {% for desempenho in desempenhoDiarioGrupo|reverse %}
          <tr class="text-center">
            <td>{{ desempenho.data.format('d/m/Y') }}</td>
            <td 
            {% if desempenho.rentabilidadeFundo < 0 %}
              class="valor-negativo"
            {% endif %}
            >
              {{ desempenho.rentabilidadeFundo|number_format(6, ",", ".") }}%
            </td>
            <td 
            {% if desempenho.rentabilidadeBenchmark < 0 %}
              class="valor-negativo"
            {% endif %}
            >
              {{ desempenho.rentabilidadeBenchmark|number_format(6, ",", ".") }}%
            </td>
            <td>
              {% if desempenho.rentabilidadeBenchmark > 0 and desempenho.rentabilidadeFundo > 0 %}
                {{ desempenho.percentual|number_format(2, ",", ".") }}%
              {% endif %} 
            </td>
          </tr>
          {% endfor %}
          <!-- rentabilidade do ano anterior -->
          <tr class="text-center">
              <td><b>{{ desempenhoMensalGrupo[0].data.format('Y') }}</b></td>
              <td><b>{{ desempenhoMensalGrupo[0].rentabilidadeFundo|number_format(2, ",", ".") }}%</b></td>
              <td><b>{{ desempenhoMensalGrupo[0].rentabilidadeBenchmark|number_format(2, ",", ".") }}%</b></td>
              <td><b>{{ desempenhoMensalGrupo[0].percentual|number_format(2, ",", ".") }}%</b></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div><!-- /.col-md-5 -->

  <div class="col-md-7">
    <div class="panel panel-info">
      <div class="panel-body">
        <div id="chart_desempenho_diario">
        </div>
          <script type="text/javascript">
            {{ desempenhoDiarioGrupo.grafico.render('chart1')|raw }}
          </script>          
      </div>
    </div>
  </div>

</div>
{% endif %}