{% if desempenhoTipoAtivoGrupo|length > 0 %}
<div class="row">
  <h2 class="panel_title" id="titulo_painel_2">Desempenho por Tipo de Ativo - Mensal</h2>
  <!-- Composição da Carteira de Crédito -->
  <div class="col-md-5">
  </br></br>
    <div class="panel panel-info">
      <table class="table table-hover table-striped table-bordered">
        <thead>
            <tr class="titulo">
                <th>Tipo</th>
                <th>Ativos</th>
                <th>Resultado Financeiro (R$)</th>
                <th>Participação Rentabilidade</th>
            </tr>
        </thead>
        <tbody>
            {% for desempenho in desempenhoTipoAtivoGrupo %}
            <tr class="text-center">
              <td>{{ desempenho.tipo }}</td>
              <td>{{ desempenho.nome }}</td>
              <td 
              {% if desempenho.valor < 0 %}
                class="valor-negativo"
              {% endif %}
              >
                R$ {{ desempenho.valor|number_format(2, ",", ".") }}
              </td>
              <td 
              {% if desempenho.percentual < 0 %}
                class="valor-negativo"
              {% endif %}
              >
                {{ desempenho.percentual|number_format(2, ",", ".") }}%
              </td>
            </tr>
            {% endfor %}
        </tbody>
        <!-- Totalizador do fundo -->
        <tfoot>
            <tr class="text-center">
              <td colspan="2"><b>Total Fundo<b></b></td>
              <td 
              {% if desempenhoTipoAtivoGrupo.resultado < 0 %}
                class="valor-negativo"
              {% endif %}
              ><b>
                R$ {{ desempenhoTipoAtivoGrupo.resultado|number_format(2, ",", ".") }}
              </b></td>
              <td 
              {% if desempenhoTipoAtivoGrupo.rentabilidadeTotal < 0 %}
                class="valor-negativo"
              {% endif %}
              ><b>
                {{ desempenhoTipoAtivoGrupo.rentabilidadeTotal|number_format(2, ",", ".") }}%
              </b></td>
            </tr>        
        </tfoot>

      </table>
    </div>
  </div><!-- /.col-md-5 -->

  <!-- Gráfico -->
  <div class="col-md-7">
    <div class="panel panel-info">
      <div class="panel-body">
        <div id="chart_desempenho_tipo_ativo"></div>
          <script type="text/javascript">
              {{ desempenhoTipoAtivoGrupo.grafico.render('chart1')|raw }}
          </script>
      </div>
    </div>
  </div><!-- /.col-md-7 -->
</div>
{% endif %}