{% if desempenhoMensalGrupo|length > 0 %}
<div class="row">
  <h2 class="panel_title" id="titulo_painel_2">Desempenho do Fundo - Mensal</h2>
  <!-- Composição da Carteira de Crédito -->
  <div class="col-md-5">
    </br></br>
    <div class="panel panel-info">
      <table class="table table-hover table-striped table-bordered table-condensed">
        <thead>
          <tr class="titulo">
            <th>Mês</th>
            <th>Rentabilidade Fundo (%)</th>
            <th>Rentabilidade Bench (%)</th>
            <th>Rentabilidade Fundo (% Bench)</th>
          </tr>
        </thead>
        <tbody>
          {% if desempenhoAnual is not null %}
          <!-- rentabilidade ano atual -->
          <tr class="text-center">
              <td><b>{{ fundoDiario.dataAtualizacao.format('Y') }}</b></td>
              <td><b>{{ desempenhoAnual.rentabilidadeFundoAtual|number_format(2, ",", ".") }}</b></td>
              <td><b>{{ desempenhoAnual.rentabilidadeBenchmarkAtual|number_format(2, ",", ".") }}</b></td>
              <td>
              {% if desempenhoAnual.percentualAtual > 100 %}
                <b>{{ desempenhoAnual.percentualAtual|number_format(2, ",", ".") }}</b>
              {% endif %} 
              </td>
          </tr>
          {% endif %}
          {% for desempenho in desempenhoMensalGrupo|reverse %}
          <tr class="text-center">
            <td>{{ desempenho.data.format('m/Y') }}</td>
            <td 
            {% if desempenho.rentabilidadeFundo < 0 %}
              class="valor-negativo"
            {% endif %}
            >
              {{ desempenho.rentabilidadeFundo|number_format(6, ",", ".") }}
            </td>
            <td 
            {% if desempenho.rentabilidadeBenchmark < 0 %}
              class="valor-negativo"
            {% endif %}
            >
              {{ desempenho.rentabilidadeBenchmark|number_format(6, ",", ".") }}
            </td>
            <td>
              {% if desempenho.rentabilidadeBenchmark > 0 and desempenho.rentabilidadeFundo > 0 %}
                {{ desempenho.percentual|number_format(2, ",", ".") }}
              {% endif %} 
            </td>
          </tr>
          {% endfor %}
          {% if desempenhoAnual is not null %}
          <!-- rentabilidade do ano anterior -->
          <tr class="text-center">
              <td><b>{{ desempenhoAnual.data.format('Y') }}</b></td>
              <td><b>{{ desempenhoAnual.rentabilidadeFundo|number_format(2, ",", ".") }}</b></td>
              <td><b>{{ desempenhoAnual.rentabilidadeBenchmark|number_format(2, ",", ".") }}</b></td>
              <td>
              {% if desempenhoAnual.percentual > 100 %}
                <b>{{ desempenhoAnual.percentual|number_format(2, ",", ".") }}</b>
              {% endif %} 
              </td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div><!-- /.col-md-5 -->

  <div class="col-md-7">
    <div class="panel panel-info">
      <div class="panel-body">
        <div id="chart_desempenho_mensal">
        </div>
          <script type="text/javascript">
            {{ desempenhoMensalGrupo.grafico.render('chart1')|raw }}
          </script>          
      </div>
    </div>
  </div>

</div>
{% endif %}