{% if listaDistribuicaoCotistas|length > 0 %}
<div class="row">
    <h2 class="panel_title" id="titulo_painel_2">
      Perfil de Distribuição - Cotistas
    </h2>
  <div class="col-md-12">
    <div class="panel panel-info">
      <table class="table table-hover table-striped table-bordered">
        <thead>
          <tr class="titulo">
            <th>Cliente</th>
            <th class="text-center">Valor aplicado</th>
            <th class="text-center">%</th>
            <th>Qtde Cotistas em <small>{{ fundoDiario.dataReferencia.format('d/m/Y') }}</small></th>
            <th class="text-center">Qtde Cotistas em {{ fundoDiario.fundo.benchmark.maxDataReferenciaMesAnterior(fundoDiario.dataReferencia).format('m/Y') }}</th>
            <th class="text-center">Evolução Cotistas Mês</th>
          </tr>
        </thead>
        <tbody>
          {% for cotista in listaDistribuicaoCotistas %}
          <tr class="text-center">
            <td class="text-left">{{ cotista.nome }}</td>
            <td class="text-right">R$ {{ cotista.valor|number_format(2, ",", ".") }}</td>
            <td>{{ cotista.percentual|number_format(2, ",", ".") }}%</td>
            <td>{{ cotista.quantidade|number_format(0, ",", ".") }}</td>
            <td>{{ cotista.quantidadeMesAnterior|number_format(0, ",", ".") }}</td>
            <td>{{ (cotista.quantidade - cotista.quantidadeMesAnterior)|number_format(0, ",", ".") }}</td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr class="text-center">
            <td class="text-left"><strong>Total</strong></td>
            <td class="text-right"><strong>R$ {{ listaDistribuicaoCotistas.valor|number_format(2, ",", ".") }}<strong></td>
            <td><strong>{{ listaDistribuicaoCotistas.percentual|number_format(2, ",", ".") }}%</strong></td>
            <td><strong>{{ listaDistribuicaoCotistas.quantidade|number_format(0, ",", ".") }}</strong></td>
            <td><strong>{{ listaDistribuicaoCotistas.quantidadeMesAnterior|number_format(0, ",", ".") }}</strong></td>
            <td><strong>{{ (listaDistribuicaoCotistas.quantidade - listaDistribuicaoCotistas.quantidadeMesAnterior)|number_format(0, ",", ".") }}</strong></td>
          </tr>
        </tfoot>
      </table>    
    </div>
  </div>
</div>
{% endif %}