<nav class="navbar navbar-inverse" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">&nbsp;</a>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <form method="get" id="form_consulta" class="navbar-form navbar-right" accept-charset="utf-8" action="{{ path('consulta_relatorio_risco') }}" novalidate="novalidate">      
      <div class="form-group">
        <input type="hidden" id="co_prd" name="co_prd" value="{{ fundoDiario.fundo.cnpj }}" />
        <input type="text" class="form-control" value="{{ fundoDiario.dataAtualizacao.format('d/m/Y') }}" name="dt_atu" id="dt_atu" maxlength="10">
      </div>
      
      <button type="submit" class="btn btn-default">Atualiza data</button>
      
      <label for="dt_atu" class="error label label-danger"></label>
      
      <input type="hidden" id="id_relatorio" name="id_relatorio" value="{{ idRelatorio}}" />

    </form>
  </div>
</nav>