{% extends 'ViterGeratGeratBundle:Default:base.html.twig' %}

{% block content %}

{# {% include 'ViterGeratGeratBundle:Relatorios:navbar.html.twig' %} #}

{% include 'ViterGeratGeratBundle:Relatorios:topo.html.twig' %}

{% include 'ViterGeratGeratBundle:Relatorios:composicao_carteira.html.twig' %}

{% include 'ViterGeratGeratBundle:Relatorios:desempenho_mensal.html.twig' %}

{% include 'ViterGeratGeratBundle:Relatorios:desempenho_tipo_ativo.html.twig' %}

{% include 'ViterGeratGeratBundle:Relatorios:risco_credito.html.twig' %}

{% include 'ViterGeratGeratBundle:Relatorios:risco_mercado.html.twig' %}

{% include 'ViterGeratGeratBundle:Relatorios:risco_liquidez.html.twig' %}

{% include 'ViterGeratGeratBundle:Relatorios:distribuicao_cotistas.html.twig' %}

{% include 'ViterGeratGeratBundle:Relatorios:captacao_rentabilidade.html.twig' %}

{% include 'ViterGeratGeratBundle:Relatorios:cronograma_vencimento.html.twig' %}

{% endblock %}