{% extends 'ViterGeratGeratBundle:Default:base.html.twig' %}

{% block content %}

{% include 'ViterGeratGeratBundle:Relatorios:navbar.html.twig' %}

{% include 'ViterGeratGeratBundle:Relatorios:desempenho_tipo_ativo.html.twig' %}

{% include 'ViterGeratGeratBundle:Relatorios:risco_mercado.html.twig' %}

{% include 'ViterGeratGeratBundle:Relatorios:desempenho_diario.html.twig' %}

{% include 'ViterGeratGeratBundle:Relatorios:limites_credito.php' %}

{% endblock %}