    {% extends 'ViterGeratGeratBundle:Default:base.html.twig' %}

{% block content %}

{% include 'ViterGeratGeratBundle:Relatorios:navbar.html.twig' %}

{% include 'ViterGeratGeratBundle:Relatorios:topo.html.twig' %}

{% include 'ViterGeratGeratBundle:Relatorios:composicao_carteira.html.twig' %}

{% include 'ViterGeratGeratBundle:Relatorios:risco_credito.html.twig' %}

{% include 'ViterGeratGeratBundle:Relatorios:volatilidade_anualizada.html.twig' %}

{% endblock %}