{% extends 'ViterGeratGeratBundle:Default:base.html.twig' %}

{% block content %}

{% include 'ViterGeratGeratBundle:Relatorios:navbar.html.twig' %}

{% include 'ViterGeratGeratBundle:Relatorios:topo.html.twig' %}

{% include 'ViterGeratGeratBundle:Relatorios:composicao_carteira.html.twig' %}

{% include 'ViterGeratGeratBundle:Relatorios:desempenho_diario.html.twig' %}

{% include 'ViterGeratGeratBundle:Relatorios:desempenho_tipo_ativo_diario.html.twig' %}

{% include 'ViterGeratGeratBundle:Relatorios:cronograma_vencimento.html.twig' %}

{% endblock %}