{% if listaComposicaoCarteiraCredito|length > 0 %}
<div class="row">
  <h2 class="panel_title" id="titulo_painel_2">Risco de Crédito</h2> 
  <!-- Composição da Carteira de Crédito -->
  <div class="col-md-6">
    <div class="panel panel-info">
      <table class="table table-hover table-striped table-bordered table-condensed">
        <thead>
          <tr class="titulo">
            <th>Ativos</th>
            <th>Total de Investimento</th>
            <th>% PL</th>
          </tr>
        </thead>
        <tbody>
          {% for composicao in listaComposicaoCarteiraCredito %}
          <tr>
            <td class="text-center">{{ composicao.nome }}</td>
            <td class="text-right">R$ {{ composicao.valor|number_format(2, ",", ".") }}</td>
            <td>{{ composicao.percentual|number_format(2, ",", ".") }}%</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
   </br></br>
    <div class="panel panel-info">
      <table class="table table-hover table-striped table-bordered table-condensed">
        <thead>
          <tr class="titulo">
            <th>Ativo</th>
            <th>Emissor</th>
            <th>Valor mercado</th>
            <th>% PL</th>
          </tr>
        </thead>
        <tbody>
        {% for ativo in listaAtivosCredito %}
          <tr>
            <td class="text-center">{{ ativo.tipo }}</td>
            <td class="text-left">{{ ativo.emissor }}</td>
            <td class="text-right">R$ {{ ativo.valorMercado|number_format(2, ",", ".") }}</td>
            <td class="text-right">{{ ativo.percentual|number_format(2, ",", ".") }}%</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
 
  <!-- Gráfico da composição da carteira -->
  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-body">
        <div id="chart_composicao_credito"></div>
        <script type="text/javascript">
          {{ listaAtivosCredito.grafico.render('chart1')|raw }}
        </script>
      </div>
    </div>

  </div>
</div>
{% endif %}