{% if itemRiscoMercadoGrupo|length > 0 %}
<div class="row">
  <h2 class="panel_title" id="titulo_painel_2">Risco de Mercado - VaR</h2>
  <!-- Risco de Mercado -->
  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-body">
      <dl class="dl-horizontal-description">

        <dt>Posição Referência:</dt>
        <dd>{{ fundoDiario.dataReferencia.format('d/m/Y') }}</dd>

        <dt>Método VaR:</dt>
        <dd>{{ riscoMercado.metodoVar }}</dd>

        <dt>Nível de Confiança: </dt>
        <dd>{{ riscoMercado.nivelConfianca }}%</dd>

        <dt>Horizonte Tempo:</dt>
        <dd>{{ riscoMercado.horizonteTempo }}</dd>

        <dt>VaR: </dt>
        <dd>R$ {{ riscoMercado.valorVar1d95|number_format(2, ",", ".") }}</dd>

        <dt>VaR/PL</dd>
        <dd>{{ riscoMercado.percentualVarPatrimonioLiquido|number_format(3, ",", ".") }}%</dd>

      </dl>

      <table class="table table-hover table-striped table-bordered table-condensed">
            <thead>
              <tr class="titulo">
                <th>Ativo</th>
                <th>CVaR</th>
                <th>Maior fator de Risco</th>
              </tr>
            </thead>
            <tbody>
                {% for itemRiscoMercado in itemRiscoMercadoGrupo %}
                <tr class="text-center">
                  <td>{{ itemRiscoMercado.nome }}</td>
                  <td
                  {% if itemRiscoMercado.valorCvar < 0 %}
                    class="valor-negativo"
                  {% endif %}
                  >
                    {% if itemRiscoMercado.valorCvar == 0 %}
                      -
                    {% else %}
                      R$ {{ itemRiscoMercado.valorCvar|number_format(2, ",", ".") }}
                    {% endif %}
                  </td>
                  <td>{{ itemRiscoMercado.maiorFator }}</td>
                </tr>
                {% endfor %}
              </tbody>
      </table>
    </div>

    </div>
  </div><!-- /.col-md-6 -->

  <!-- Gráfico -->
  <div class="col-md-6">
      <div class="panel panel-info">
          <div class="panel-body">
              <div id="chart_risco_mercado"></div>
              <script type="text/javascript">
                  {{ itemRiscoMercadoGrupo.grafico.render('chart1')|raw }}
              </script>
          </div>
      </div>
  </div><!-- /.col-md-7 -->

</div>
{% endif %}