{% if liquidezGrupo|length > 0 %}
<div class="row">
<h2 class="panel_title" id="titulo_painel_2">Risco de Liquidez</h2>
  <div class="col-md-7">
    <div class="panel panel-info">
      <table class="table table-hover table-striped table-bordered table-condensed">
        <thead>
          <tr class="titulo">
            <th>Quadro</th>
            <th>Volume Líquido</th>
            <th>Valor Mercado</th>
            <th>% Liquidez</th>
          </tr>
        </thead>
        <tbody>
          {% for liquidez in liquidezGrupo %}
          <tr class="text-center">
            <td class="text-left">{{ liquidez.nome }}</td>
            <td class="text-right">R$ {{ liquidez.volumeLiquido|number_format(2, ",", ".") }}</td>
            <td class="text-right">R$ {{ liquidez.valorMercado|number_format(2, ",", ".") }}</td>
            <td>{{ liquidez.percentualLiquidez|number_format(2, ",", ".") }}%</td>
          </tr>
          {% endfor %}
          <tr class="text-center">
            <td class="text-left"><b>Total volume líquido (VL)</b></td>
            <td class="text-right"><b>R$ {{ liquidezGrupo.volumeLiquidoTotal|number_format(2, ",", ".") }}</b></td>
            <td class="text-right"><b>R$ {{ liquidezGrupo.valorMercadoTotal|number_format(2, ",", ".") }}</b></td>
            <td><b>{{ liquidezGrupo.percentualLiquidezTotal|number_format(2, ",", ".") }}%</b></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td class="text-left">Valor em garantia</td>
            <td class="text-right">R$ {{ liquidezGrupo.valorEmGarantia|number_format(2, ",", ".") }}</td>
            <td></td>
            <td></td>
          </tr>
        </tfoot>        
      </table>
    </div>
  </div>
  
  <!-- Indicadores de liquidez -->
  <div class="col-md-5">
  <h2 class="panel_title sub_titulo_painel">Indicadores de Liquidez</h3>
    <div class="panel panel-info">
      <table class="table table-bordered table-condensed">
        
        <tbody>
          <tr>
            <td class="text-left">Resgate projetado (RP)</td>
            <td class="text-right">
              R$ {{ termometroLiquidez.volumeResgateProjetado|number_format(2, ",", ".") }}
            </td>
          </tr>
          <tr>
            <td class="text-left"><b>RL1 = RP / VL</b></td>
            <td class="text-right">
            <b>
              {{ termometroLiquidez.indicadorRl1|number_format(2, ",", ".") }}%
            </b>
            </td>
          </tr>
          <tr>
            <td class="text-left">Resgate Stress</td>
            <td class="text-right">
            R$ {{ fundoDiario.maiorResgateUltimos3Anos|number_format(2, ",", ".") }}</td>
          </tr>                    
        </tbody>

      </table>     
    </div>
  </div>
</div>
{% endif %}