<div class="row">
    <strong id="posicao_mes_referencia"><em>Mês Referência: {{ mesReferencia }} {{ fundoDiario.dataReferencia.format('Y') }}</em>
    </strong>
</div>

<!-- H1 com o nome do fundo -->
<div class="page-header">
    <h1 id="nome_fundo_h1">{{ fundoDiario.fundo.nome }}</h1>
</div>
<!-- Fim do H1 com o nome do fundo -->

<div class="row">
    <dl class="dl-horizontal-description">

      <dt class="patrimonio_liquido_span">
        <strong><em>Patrimônio Líquido*:</em></strong>
      </dt>
      <dd class="patrimonio_liquido_span">
        <strong><em>R$ {{ fundoDiario.patrimonioLiquido|number_format(2, ",", ".") }}</em></strong></dd>

      <dt>CNPJ:</dt>
      <dd>{{ fundoDiario.fundo.cnpjFormatado }}</dd>

      <dt>Início do Fundo:</dt>
      <dd>{{ fundoDiario.fundo.dataInicio.format('d/m/Y') }}</dd>

      <dt>Benchmark:</dt>
      <dd>{{ fundoDiario.fundo.benchmark.nome }}</dd>

      <!--
      <dt>Rentabilidade Mensal:</dt>
      <dd>
      {% if fundoDiario.rentabilidadeMes >= 0 %}
      <span class="label label-success">
      {% else %}
      <span class="label label-danger">
      {% endif %}
      {{ fundoDiario.rentabilidadeMes|number_format(6, ",", ".") }}%</span>
      </dd>
      -->

      <?php endif; ?>
    </dl>
</div>

<div class="row">
    <strong id="posicao_dt_atu">* As alocações são referentes a posição no último dia do período </br> ({{ fundoDiario.dataReferencia.format('d/m/Y') }})
    </strong>
</div>