{% if listaComposicaoCarteira|length > 0 %}
<div class="row">
  <h2 class="panel_title" id="titulo_painel_2">Volatilidade histórica</h2>
  <!-- Volatilidade -->
  <div class="col-md-6">
    <div class="panel panel-info">
      <table class="table table-hover table-striped table-bordered">
        <thead>
          <tr class="titulo">
            <th>Ativos</th>
            <th>Total de Investimento</th>
            <th>% PL</th>
          </tr>
        </thead>
        <tbody>
          {% for composicao in listaComposicaoCarteira %}
          <tr class="text-center">
            <td>{{ composicao.nome }}</td>
            <td>R$ {{ composicao.valor|number_format(2, ",", ".") }}</td>
            <td>{{ composicao.percentual|number_format(2, ",", ".") }} %</td>
          </tr>
          {% endfor %}
        </tbody>
            </table>
        </div>
    </div><!-- /.col-md-6 -->
</div>
{% endif %}