{% block footer %}

<!-- jQuery JS -->
<script src="{{ app.request.basepath }}/vendor/jquery/dist/jquery.min.js"></script>

<!-- jQueryUI JS -->
<script src="{{ app.request.basepath }}/vendor/jquery-ui/ui/minified/jquery-ui.min.js"></script>

<!-- Bootstrap JS -->
<script src="{{ app.request.basepath }}/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- DataTables JS -->
<script type="text/javascript" language="javascript" src="{{ app.request.basepath }}/vendor/datatables/media/js/jquery.dataTables.js"></script>

<!-- DataTables Tabletools JS -->
<script type="text/javascript" language="javascript" src="{{ app.request.basepath }}/vendor/datatables-tabletools/js/dataTables.tableTools.js"></script>

<!-- JS da página -->
<script type="text/javascript" language="javascript" src="{{ app.request.basepath }}/js/main.js"></script>

        <!-- Códigos JS -->
        <script type="text/javascript" charset="utf-8">
        $( document ).ready(function() {
            $('.datatable').dataTable( {
                "sDom": 'T<"clear">lfrtip',
                "oTableTools": {
                    "sSwfPath": "{{ app.request.basepath }}/vendor/datatables-tabletools/swf/copy_csv_xls_pdf.swf"
                },
                "oLanguage": {
                    "sProcessing": "Aguarde enquanto os dados são carregados ...",
                    "sLengthMenu": "Mostrar _MENU_ registros por pagina",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sInfoEmtpy": "Exibindo 0 a 0 de 0 registros",
                    "sInfo": "Exibindo de _START_ a _END_ de _TOTAL_ registros",
                    "sInfoFiltered": "",
                    "sSearch": "Procurar",
                    "oPaginate": {
                        "sFirst":    "Primeiro",
                        "sPrevious": "Anterior",
                        "sNext":     "Próximo",
                        "sLast":     "Último",
                    },
                },
                "bPaginate": true,
                "bJQueryUI": false,
                "sPaginationType": "full_numbers",
                "iDisplayLength": 50
            });
        });
        </script>

<div class="footer text-center">
    <p>GERAT - Gerência Nacional de Risco de Ativos de Terceiros</p>
    <p>DETER - Diretoria Executiva de Ativos de Terceiros</p>
    <p>VITER - Vice-Presidência de Gestão de Ativos de Terceiros</p>
</div>
{% endblock %}