{% extends "layout.html.twig" %}

{% block content %}

{% if listaTopMais|length > 0 %}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o"></i>
        <h3 class="panel-title">Top 10</h3>
      </div>
      <div class="panel-body">
        <div id="grafico_top_mais"></div>
        <script type="text/javascript">
          {#
          {{ graficoTopMais.render('chart1')|raw }}
          }
          #}
        </script>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="row">
  <div class="col-md-12">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-bar-chart-o"></i>
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              Relatório de atribuição de performance
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">
            <table id="table_export" >
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Rentabilidade em {{ dataReferencia|date('m/Y') }}</th>
                  <th>CNPJ</th>
                </tr>
                </thead>
              <tbody>
                {% for produto in produtos %}
                <tr>
                    <td>
                    {% block link_relatorio %}
                    <a href="{{ path('relatorio', {
                      'id_relatorio': 3,
                      'co_prd': produto.CO_PRD,
                      'dt_ini': dataInicio,
                      'dt_fim': dataFim,
                      'dt_ref': dataReferencia,
                      'dt_atu': dataAtualizacao
                      }) }}">{{ produto.NO_PRD }}
                    </a>
                    {% endblock %}
                    </td>
                    <td
                    {% if produto.RENT_MES < 0 %}
                      class="valor-negativo"
                    {% else %}
                      class="valor-positivo"
                    {% endif %}
                    >
                      {{ produto.RENT_MES|number_format(6, ",", ".") }}%
                    </td>
                    <td><small>{{ produto.CO_PRD }}</small></td>
                </tr>
                {% else %}
                    <p> Nenhum fundo foi encontrado. </p>
                {% endfor %}
                <?php $i++; ?>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% if user is defined %}
<div class="row">
  <div class="col-md-12">
  {{ dump(user) }}
  </div>
</div>
{% endif %}

{% endblock %}