<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br" >
    <head>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ app.request.basepath }}/vendor/bootstrap/dist/css/bootstrap.cerulean.min.css">
        <!-- DataTables CSS -->
        <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/vendor/datatables/media/css/jquery.dataTables.css">
        <!-- DataTables Tabletools CSS -->
        <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/vendor/datatables-tabletools/css/dataTables.tableTools.css">
        <!-- CSS da página -->
        <link href="{{ app.request.basepath }}/css/main.css" rel="stylesheet" type="text/css" />
        <!-- jQueryUI CSS -->
        <link rel="stylesheet" href="{{ app.request.basepath }}/vendor/jquery-ui/themes/redmond/jquery-ui.min.css" />
        <!-- FontAwesome CSS -->
        <link rel="stylesheet" href="{{ app.request.basepath }}/vendor/font-awesome/css/font-awesome.min.css" />
        <meta charset="utf-8">
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js') }}"></script>
        <![endif]-->
        {% block title %}
            {% if title is defined %}
                <title>{{ title }}</title>
            {% else %}
                <title>My Silex Application</title>
            {% endif %}
        {% endblock %}

         <!-- Favicon Caixa -->
        <link rel="icon" href="{{ app.request.basepath }}/img/favicon.ico" type="image/x-icon">
    </head>
    <body>
        {% block navbar %}
        {% embed 'navbar.html.twig' %}{% endembed %}
        {% endblock %}

        <div class="container theme-showcase" id="container-theme-showcase">
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('info') %}
            <div class="alert alert-info">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('danger') %}
            <div class="alert alert-danger">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% block content %}{% endblock %}
        </div><!-- /container -->

        {% block footer %}
            {% embed 'footer.html.twig' %}{% endembed %}
        {% endblock %}
    </body>
</html>
