        <!-- Fixed navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <img id="logo" height="40" src="{{ app.request.basepath }}/img/logo_caixa.png">
              </div>
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li><a href="{{ path('homepage') }}" class="glyphicon glyphicon-home"></a></li>
                  <li><a href="{{ path('fundos') }}" >Fundos</a></li>

                  <li class="dropdown">
                    <a href='' class="dropdown-toggle" data-toggle="dropdown">Risco de Liquidez <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="{{ path('consulta_liquidez') }}">Consulta valor de liquidez diário</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href='' class="dropdown-toggle" data-toggle="dropdown">Rotina Diária <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="{{ path('consulta_xml_nao_processados') }}">Consulta XML não processados</a></li>
                      <li><a href="{{ path('consulta_diferencas_xml') }}">Consulta diferenças XML</a></li>
                      <li><a href="{{ path('consulta_benchmark') }}">Consulta benchmark</a></li>
                      <li><a href="{{ path('consulta_pastas_xml') }}">Consulta XML faltando Bradesco</a></li>
                      <li><a href="{{ path('renomear_xml_santander') }}">Renomear XMLs Santander</a></li>
                      <li><a href="{{ path('processar_xml_itau') }}">Processar XMLs Itaú</a></li>
                      <li><a href="{{ path('simular_dpge') }}">Simular DPGE</a></li>
                      <li><a href="{{ path('consulta_monitoramento') }}">Monitoramento CR 245</a></li>
                    </ul>
                  </li>

                  <li class="dropdown">
                    <a href='' class="dropdown-toggle" data-toggle="dropdown">Administração <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="{{ path('lista_usuarios') }}">
                      Consulta usuários</a>
                      </li>
                      <li><a href="{{ path('lista_ativos_mercado') }}">
                      Lista ativos risco mercado</a>
                      </li>
                      <li><a href="{{ path('lista_grupos_ativos') }}">
                      Lista grupos de ativos</a>
                      </li>
                      <li><a href="{{ path('consulta_ativos_por_emissor') }}">
                      Consulta ativos alocados por emissor</a>
                      </li>
                      <li><a href="{{ path('consulta_rating') }}">
                      Consulta rating por emissor</a>
                      </li>
                    </ul>
                  </li>

                </ul>
                {% if user.matricula is defined %}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" title="Usuário: {{ user.matricula }}" class="glyphicon glyphicon-user"></a>
                    </li>
                </ul>
                {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ path('login') }}" title="Login">
                        <i class="fa fa-unlock-alt"></i>
                        </a>
                    </li>
                </ul>
                {% endif %}

                <ul class="nav navbar-nav">

                  {% if is_granted('ROLE_ADMIN') %}
                  <li><a href="{{ path('fundos') }}">Fundos</a></li>

                  <li class="dropdown">
                    <a href='' class="dropdown-toggle" data-toggle="dropdown">Risco de Liquidez <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="{{ path('consulta_liquidez') }}">Consulta valor de liquidez diário</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href='' class="dropdown-toggle" data-toggle="dropdown">Rotina Diária <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="{{ path('consulta_xml_nao_processados') }}">Consulta XML não processados</a></li>
                      <li><a href="{{ path('consulta_diferencas_xml') }}">Consulta diferenças XML</a></li>
                      <li><a href="{{ path('consulta_benchmark') }}">Consulta benchmark</a></li>
                      <li><a href="http://10.4.45.99/gerat-sf/web/app_dev.php/consulta_pastas_xml">Consulta XML faltando Bradesco</a></li>
                      <li><a href="http://10.4.45.99/gerat-sf/web/app_dev.php/renomear_xml_santander">Renomear XMLs Santander</a></li>
                      <li><a href="http://10.4.45.99/gerat-sf/web/app_dev.php/processar_xml_itau">Processar XMLs Itaú</a></li>
                      <li><a href="{{ path('simular_dpge') }}">Simular DPGE</a></li>
                      <li><a href="{{ path('consulta_monitoramento') }}">Monitoramento CR 245</a></li>
                    </ul>
                  </li>
                  {% endif %}

                  {% if is_granted('ROLE_USER') %}
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                    Relatórios <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <!-- Relatório atribuição de performance mensal -->
                      <li>
                        <a href="{{ path('relatorio_atribuicao_performance') }}">Relatório - Mensal
                        </a>
                      </li>
                    </ul>
                  </li>
                  {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                  <li class="dropdown">
                    <a href='' class="dropdown-toggle" data-toggle="dropdown">Administração <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="{{ path('lista_usuarios') }}">
                      Consulta usuários</a>
                      </li>
                      <li><a href="{{ path('lista_ativos_mercado') }}">
                      Lista Ativos Risco Mercado</a>
                      </li>
                      <li><a href="{{ path('lista_grupos_ativos') }}">
                      Lista Grupos de Ativos</a>
                      </li>
                      <li><a href="{{ path('consulta_ativos_por_emissor') }}">
                      Consulta ativos alocados por emissor</a>
                      </li>
                      <li><a href="{{ path('consulta_rating') }}">
                      Consulta rating por emissor</a>
                      </li>
                    </ul>
                  </li>
                {% endif %}

                </ul>



              </div><!--/.nav-collapse -->
            </div>
        </div>


{#
 {% block navbar %}
        <!-- Fixed navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <img id="logo" height="40" src="{{ asset('bundles/vitergeratgerat/img/logo_caixa.png') }}">
              </div>
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li><a href="{{ path('homepage') }}" class="glyphicon glyphicon-home"></a></li>
                  {% if is_granted('ROLE_ADMIN') %}
                  <li><a href="{{ path('lista_fundos') }}">Fundos</a></li>

                  <li class="dropdown">
                    <a href='' class="dropdown-toggle" data-toggle="dropdown">Risco de Liquidez <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="{{ path('consulta_liquidez') }}">Consulta valor de liquidez diário</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href='' class="dropdown-toggle" data-toggle="dropdown">Rotina Diária <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="{{ path('consulta_xml_nao_processados') }}">Consulta XML não processados</a></li>
                      <li><a href="{{ path('consulta_diferencas_xml') }}">Consulta diferenças XML</a></li>
                      <li><a href="{{ path('consulta_benchmark') }}">Consulta benchmark</a></li>
                      <li><a href="http://10.4.45.99/gerat-sf/web/app_dev.php/consulta_pastas_xml">Consulta XML faltando Bradesco</a></li>
                      <li><a href="http://10.4.45.99/gerat-sf/web/app_dev.php/renomear_xml_santander">Renomear XMLs Santander</a></li>
                      <li><a href="http://10.4.45.99/gerat-sf/web/app_dev.php/processar_xml_itau">Processar XMLs Itaú</a></li>
                      <li><a href="{{ path('simular_dpge') }}">Simular DPGE</a></li>
                      <li><a href="{{ path('consulta_monitoramento') }}">Monitoramento CR 245</a></li>
                    </ul>
                  </li>
                  {% endif %}

                  {% if is_granted('ROLE_USER') %}
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                    Relatórios <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <!-- Relatório atribuição de performance mensal -->
                      <li>
                        <a href="{{ path('relatorio_atribuicao_performance') }}">Relatório - Mensal
                        </a>
                      </li>
                    </ul>
                  </li>
                  {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                  <li class="dropdown">
                    <a href='' class="dropdown-toggle" data-toggle="dropdown">Administração <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="{{ path('lista_usuarios') }}">
                      Consulta usuários</a>
                      </li>
                      <li><a href="{{ path('lista_ativos_mercado') }}">
                      Lista Ativos Risco Mercado</a>
                      </li>
                      <li><a href="{{ path('lista_grupos_ativos') }}">
                      Lista Grupos de Ativos</a>
                      </li>
                      <li><a href="{{ path('consulta_ativos_por_emissor') }}">
                      Consulta ativos alocados por emissor</a>
                      </li>
                      <li><a href="{{ path('consulta_rating') }}">
                      Consulta rating por emissor</a>
                      </li>
                    </ul>
                  </li>
                {% endif %}

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li>
                      <a href="{{ path('logout_path') }}"
                        class="glyphicon glyphicon-off" title="{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}">
                      </a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{{ path('fos_user_registration_register') }}" title="Clique aqui para se cadastrar" class="glyphicon glyphicon-user"></a>
                    </li>
                    {% endif %}
                </ul>

              </div><!--/.nav-collapse -->
            </div>
        </div>
        {% endblock %}
#}