{% extends "layout.html.twig" %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>Page Not Found <small><font face="Tahoma" color="red">Error 404</font></small></h1>
        <br>
        <p>The page you requested could not be found, either contact your webmaster or try again. Use your browsers <b>Back</b> button to navigate to the page you have prevously come from</p>
        <p><b>Or you could just press this neat little button:</b></p>
        <a href="{{ path('homepage')}}" class="btn btn-primary btn-lg"><i class="icon-home icon-white"></i> Home</a>
    </div>
</div>
{% endblock %}