{% extends "layout.html.twig" %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1><span class="glyphicon glyphicon-fire red"></span> 500 Internal Server Error</h1>
        <p class="lead">The web server is returning an internal error.</p>
        <a href="javascript:document.location.reload(true);" class="btn btn-default btn-lg text-center"><span class="green">Try This Page Again</span></a>
    </div>
</div>
{% endblock %}