{% extends 'ViterGeratGeratBundle:Default:base.html.twig' %}

{% block content %}

<script>
$(function() {

    // get the current date
    var date = new Date();
    var m = date.getMonth(), d = date.getDate(), y = date.getFullYear();

    $("#dt_aquisicao").datepicker({
        dateFormat: 'dd/mm/yy',
        dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
        dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
        dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
        monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
        monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
        nextText: 'Próximo',
        prevText: 'Anterior',
        beforeShowDay: $.datepicker.noWeekends,
    });

    $("#dt_vencimento").datepicker({
        dateFormat: 'dd/mm/yy',
        dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
        dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
        dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
        monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
        monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
        nextText: 'Próximo',
        prevText: 'Anterior',
        beforeShowDay: $.datepicker.noWeekends,
    });

    var nomesAvailableTags =
["FUNDO DE DESENVOLVIMENTO SOCIAL","GOV ERJ-CT A","GOV ERJ-CT B","FGTS A - DISPONIBILIDADE FINANCEIRA","FGTS B - FUNDO DE LIQUIDEZ","GOV MG","FAR","GOV AM-BEA","GOV PI BEP A","FAPS PM DE SAPUCAIA DO SUL","GOV AL-CONT","AMPREV","GUARAPUAVA","FUNPREV","IPMAT","IPREBE","IPPASSO","IPM UBATUBA","FGTS HABITACAO","FGTS SANEAMENTO E INFRAESTRUTURA","IPREM POUSO","FGTS HABITACAO RV","GOV RJ-CT B1","FGTS TRANSPORTE E MOBILIDADE URBANA","FIC AZULFIC LP","FIC BETA DI LP","FIC PRATICO CP","FI MASTER PERSONALIZADO 50 LP","FIC EXECUTIVO LP","FI NOGUEIRA","FIC FUNDACOES CP","FIC CLASSICO LP","FIA IBOVESPA","FIC PERSONAL LP","FIC ABSOLUTO PRE LP","FIC SOBERANO LP","FIC INVESTIDOR LP","FI SENIOR IV MULTI","FI MASTER INDICE DE PRECOS 50 LP","FIC PATRIMONIO LP","FI PRO SER LP","FIC CAPITAL LP","FIA TOP CONDOR FUNCEF","FIA ALVORADA FUNCEF","FMP PETROBRAS IV","FIA TOP ULTRA FUNCEF","FIA TOP CONCORD FUNCEF","FIA SAVANA SUSTENTABILIDADE FUNCEF","FI MULTIMERCADO RV 30 LP","FIC ESPECIAL LP","FIC ESTRATEGICO MULTI LP","FI MERCURIO","FI BRASIL DI LP","FIC SELECAO","FIC LIQUIDEZ CP","FI PCRJ","FIC PREFERENCIAL DI LP","FI SANEPAR I","FIA BRASIL IBX50","FI PREVINVEST GESTAO","FI PREVINVEST RV49","FIC PREV 200","FI MASTER PREFIXADO 50 LP","FIC PREV 100","FI SEBRAE LP","FIA PETROBRAS","FMP PETROBRAS III","FMP PETROBRAS II","FIC PREV 300 MULTI RV 15","FIC PREV 300","FI JEQUITIBA LP","FIC PREV 300 MULTI RV 30","FI PARDO FUNCEF","FI MASTER LIQUIDEZ CP","FI DBH LP","FI IDEAL PREV","FI DESENBAHIA","FI PREVHAB MULTI","FIA CARTEIRA ATIVA II","FI FTJ","FI TRANQUILIDADE MULTI","FI LEBLON DI","FMP PETROBRAS CL RF 49","FI ARPOADOR MULTI FUNCEF","FI SEVILLA MULTI FUNCEF","FI EROS MULTI CRED","FI MARFIM","FI MARSEILLE MULTI FUNCEF","FI ANGELIN LP","FMP VALE I","FIA VALE DO RIO DOCE","FMP VALE II","FMP VALE MIGRACAO","FI MASTER III","FIC BRASIL SEM MISERIA CP","FIC CAMBIAL DOLAR","FI HERCULES","FI MASTER TPF LP","FI BRASIL TP LP","FI ALIANCA TP","FIA PIBB SEM OPCAO","FI POSEIDON","FI RS LP","FI CNI LP","FI CERRADO DI","FIA IBRX ATIVO","FI APEX BRASIL LP","FI MASTER CONSERVADOR DI LP","FI MASTER CAMBIAL","FIA DIVIDENDOS","FI ANGRA MULTI FUNCEF","FI SUCUPIRA","FI MASTER ESTRATEGICO MULTI LP","FI PETROS HABITACIONAL","FIC DINAMICO LP","FIC SUPREMO LP","FI SIDERTUBE CRED LP","FI PRECE","FIA IBOVESPA ATIVO","FIC PREV 150 MULTI RV 30","FIC PREV 150 MULTI RV 15","FI MASTER ESSENCIAL 50 LP","FIC LONG SHORT LP","FIC PREV 150 MULTI RV 49","FI FUNCEF HABITACIONAL","FIC AM PERSONALIZADO LP","FI MASTER AM LP","FI FUNPRESP MULTI","FIC PREV 300 MULTI RV 49","FIA ISE","FIC PLATINUM MULTI LP","FIC PREV 70","FI IPE","FI MASTER LS LP","FIA TOP ATLAS FUNCEF","FI ANS LP","FI ISEDA LP","FI FIDELIDADE LP","FI XCVI LP","FIA CERRADO SUSTENTABILIDADE","FI PMSP LP","FI GAMA CRED LP","FIC CEDAE LP","FI PATRIA CRED LP","FIC FAZENDA ERJ LP","FI FGTS","FI PREVINVEST IP","FI MASTER PLUS 50 DI LP","FI TEKA","FI PREFEITURA RECIFE","FI AERUS MULTI CRED","FI BRASIL MULTI LP","FI MASTER MODERADO 50 LP","FIC LARANJAL MULTI CRED","FIC MUTUA LP","FI ANS II LP","FIC FOCO INDICE DE PRECOS LP","FIC ALEGRIA MULTI CRED","FIA TIRADENTES VALOR FUNCEF","FIA OPERA VALOR FUNCEF","FIA FEBE VALOR FUNCEF","FI MEGA DI LP","FI ARARAQUARA CRED","FI ENERGISA CRED","FIC GUARUJA LP","FI RODOVIAS CRED","FI SELETO LP","FI FIDELIDADE II LP","FI FGHAB MULTI","FI XVI CRED LP","FI INSTITUCIONAL TP LP","FI CABERJ CRED LP","FI CORPORATIVO LP","FIC APORTE XIII LP","FI OMEGA CRED LP","FI QUALIFICADO CRED LP","FI DIRECIONAL CRED LP","FI VERONA CRED LP","FIC GIRO MPE DI LP","FIA CONSTRUCAO CIVIL","FIA INFRAESTRUTURA","FI EXTRAMERCADO III IRFM 1+ LP","FIC GERACAO JOVEM CRED LP","FI BRASIL IMAB 5+ LP","FIC RELACIONAMENTO IDEAL LP","FIC RELACIONAMENTO PERSONAL LP","FIA CONSUMO","FIC PERFORMANCE IMAB LP","FI BRASIL IRFM 1+ LP","FIC PREV 250 MULTI RV 49","FIC PREV 200 MULTI RV 49","FIC PREMIUM DI LP","FIC ARROJADO CRED LP","FIC NOVO BRASIL IMAB LP","FI ENERGIA LP","FIC SIGMA DI LP","FIC FAMILIA FERREIRA LP","FI FGCN MULTI CRED","FI SAFIRA CRED LP","FI PROGRESSO CP","FIC AFEAM LP","FI ROSSI MULTI CRED LP","FI AFPR LP","FIC PREV 125 MULTI RV 49","FIC PREV 30","FIC PREV 125 IP","FIC PLENO DI","FIC TRANSFERENCIA VOLUNTARIA CP","FI BARRA MULTI","FI CORCOVADO MULTI","FI CELI MULTI LP","FI BRASIL IMAB LP","FI BRASIL IRFM 1","FI FACE CRED LP","FI MASTER TERMO LP","FIC PREV 150 IP","FI MASTER BR IMAB LP","FI GOV PERNAMBUCO CP","FI EXTRAMERCADO IV IRFM LP","FI MASTER SOBERANO IP LP","FI MASTER CRED LP","FI LAGOA MULTI CRED","FI LAMEIRAO MULTI CRED","FI XEREM MULTI CRED","FIA RIO DOURADO","FI RIO PRETO MULTI CRED","FIC RIO DOURO ACOES","FIC PREV 200 IP","FIA PETRO PRE SAL","FI ATLANTICO CRED LP","FIC PREV 150","FIC PREV 50","FIC PREV 250 MULTI RV 15","FIC PREV 200 MULTI RV 15","FIC PREV 125 MULTI RV 15","FI SUSTENTABILIDADE CRED","FI PORTOS PARANA","FI INVESTGAS CRED LP","FI BRASIL IMAB 5 LP","FI BRASIL IMA GERAL LP","FI CORPORATIVO II LP","FI TROICA CRED","FI ACANTHUS CRED","FI ROSSI DI LP","FI ARPOADOR MULTI CRED","FIC PREV 250","FI MINAS MULTI FUNCEF","FI VITORIA MULTI FUNCEF","FI LAPA MULTI FUNCEF","FI BR IPCA XI","FI BR IPCA XII","FI BR IPCA X","FI CPB CRED LP","FI BR IPCA I","FI BR IPCA II","FI VERTICE MULTI CRED LP","FI BR IPCA VII","FI BR IPCA VI","FI BR IPCA V","FI BR IPCA III","FIC METRO RIO CAMBIAL LP","FI BR IPCA VIII","FI BR IPCA IX","FI PBH DI","FI BR IPCA IV","FI JSL MULTI CRED LP","FI IPLEMG LP","FIC VINCI INFRAESTRUTURA MULTI CRED","FI PLATINA CRED FUNCEF","FI PRATA MULTI CRED FUNCEF","FI GANGES MULTI CRED FUNCEF","FI NILO MULTI CRED FUNCEF","FI AGERIO LP","FIC PREV 200 MULTI CRED","FIC PREV 250 MULTI CRED","FI PREVINVEST MULTI CRED","FIC PREV 125 MULTI RV 30","FI R2R CRED LP","FIC PREV 125 MULTI CRED","FIA BRASIL IBOVESPA","FI BR IPCA XIV","FI BR IPCA XIII","FIC PREV 150 MULTI CRED","FIA PENHA","FI MACACOS MULTI CRED","FIC SARAPUI MULTI CRED","FIC GUANDU MULTI CRED","FIC PREV 200 MULTI RV 30","FIC PREV 250 MULTI RV 30","FI BR IPCA XV","FI PEQUIA","FI AMIGO II MULTI","FI BR IPCA I MULTI CRED","FI BR IPCA II MULTI CRED","FI BR IPCA III MULTI CRED","FI BR IPCA IV MULTI CRED","FI BR IPCA VII MULTI CRED","FI CEDRO","FI BR IPCA V MULTI CRED","FI BR IPCA VI MULTI CRED","FI AQUA MULTI CRED","FI BR IPCA VIII MULTI CRED","FIC PREV 250 IP","FIC OBJETIVO PRE LP","FI JUROS E MOEDAS MULTI LP","CAIXA ETF IBOVESPA FUNDO DE INDICE","FI FOX SOBERANO I","FI FOX SOBERANO II","FI FOX SOBERANO III","FI MASTER CAPITAL PROTEGIDO IBOV I MULTI","FIC CAPITAL PROTEGIDO IBOV CICLICO I MULTI","FIA PONTE JK","FI FOX SOBERANO IV","FI BRASIL IDKA IPCA 2A TP LP","FI ENERGIA XINGU CRED LP","FI PROV TECNICAS CONS DPVAT","FI EXTRAMERCADO VII IRFM 1","FI FOX SOBERANO V","FIA DOM BOSCO","FIA REPUBLICA","FIA LETO","FIA VINCI VALOR","FIC ACOES VALOR SMALL CAP","FIC ACOES VINCI GAS VALOR SMLL","FIC ACOES VINCI GAS VALOR","FIC PMPK CRED","FI EXTRAMERCADO X LP","FI EXTRAMERCADO COMUM IRFM 1","FI EXTRAMERCADO II LP","FI EXTRAMERCADO I LP","FI PARICA LP","FI EXTRAMERCADO VI IRFM 1","FI EXTRAMERCADO EXCLUSIVO XXI","FI JUPITER MULTI CRED LP","FI BRASIL IRFM TP LP","FI BRASIL DISPONIBILIDADES","FIC MOVIMENTACOES AUTOMATICAS CP","FIDC BMG CONSIGNADO RPPS","FIA SMALL CAPS ATIVO","FIA BRASIL ETF IBOVESPA","FIA CARTEIRA ATIVA III","FIA FAROL","FIA BARRA","FIA PITUBA","FIA E-FUNDO IBOVESPA","FIC E-FUNDO LP","FIC E-FUNDO 500 LP","FIC ACOES VALOR DIVIDENDOS","FIA VINCI VALOR DIVIDENDOS","FIC ACOES VINCI GAS VALOR DIVIDENDOS","FIA GENIPABU","FIA BOTANICA SUSTENTABILIDADE FUNCEF","FIA GUARANI FUNCEF","FI SETE BRASIL LP","FI MASTER AUTOMATICO 50","FI GOIAS FOMENTO LP","FI I MULTI LP","FIC CELG LP","FIC ASPIS CRED","FIC APORTE IMEDIATO 177 LP","FIC APORTE IMEDIATO 178 LP","FIC PREV 80 IP","FI EXTRAMERCADO V","FI ONIX MULTI CRED","FIC PREV 80 MULTI CRED","FIC FIEL LP","FI BALTICO MULTI CRED","FIA MULTI SETORIAL","FIA VIRTUS","FI ENGENHARIA BRASIL CRED LP","FI PORTO MARAVILHA CRED LP","FI CATEDRAL CRED","FI FOX CREDITO BANCARIO CRED","FI OURO MULTI LP","FIC GIRO EMPRESAS DI LP","FI MATRIZ MULTI CRED","FI PEROLA MULTI CRED LP","FI COLUMBIA MULTI CRED","FIC XP JUROS E MOEDAS MULTI LP","FIC MAXI CRED LP","FI UNIESP PAGA CRED LP","FI ML LP","FI IPDA CRED","FI BTG PACTUAL X30 MULTI LP","FIC GIRO IMEDIATO DI LP","FIA INSTITUCIONAL BDR NIVEL I","FIA BDR NIVEL I","FIC ATLETA CRED LP","FIC ALOCACAO MULTI CRED LP","FI PLATINA II CRED","FI PRECE CV IMAB","FI FGBP LP","FI VALE","FI CFIAE","FI PLACIDAS CRED LP","FI LIKE MULTI CRED LP","FIC APORTE IMEDIATO 215 LP","FIC APORTE IMEDIATO 216 LP","FI PM OSASCO","BB FUNPRESP FI MULTI","FI IMUNANA MULTI CRED","FI MASTER PERFORMANCE 50 LP","FI DME LP","FI GERANIUM INST","FIC SQUARE MULTI CRED LP","FIC IDEAL LP","PREVEXTREMA"]
    ;

    var emissoresAvailableTags =
["ABC BRASIL","ABC-BRASIL","ABN - AMRO BANK","AG FOM AM","AG FOM AP","AG FOM BA","AG FOM GO","AG FOM MT","AG FOM PE","AG FOM PI","AG FOM PR","AG FOM RJ","AG FOM RN","AG FOM RR","AG FOM SP","AG FOM TO","AGPART","ALFA","ALFA ARREND MERC","ALFA DE INVEST","ALGAR TELECOM","ALL","ALUPAR","ALVORADA","AMIL","AMPLA ENERGIA","ARBI","AUTOBAN","AUTOMETAL","AUTOVIAS","AZTECA","AZTECA DO BRASIL","BADESC","BADESUL","BANCO BERJ S.A.","BANCO DO BRASIL","BANCO FIDIS","BANCO STANDARD","BANCO TRICURY S\/A","BANCO WESTERN UNION DO BRASIL S.A.","BANCOOB","BANDEPE","BANDES","BANERJ","BANESE","BANESTES","BANIF","BANIF BCO","BANIF BCO INV","BANIF BI","BANIF INVEST","BANKPAR","BANPARA","BANRISUL","BANSICREDI","BARCLAYS","BASA","BBM","BBN","BBVA","BCN","BCO CNH CAPITAL","BCV","BDMG","BERJ","BES","BES INVESTIMENTO","BEXS","BGN","BIC","BM&F","BM&FBOVESPA","BMB","BMC","BMG","BNB","BNDES","BNDESPAR","BNP","BNP PARIBAS","BNY MELLON","BOAVISTA","BOAVISTA INTERATLANTICO","BONSUCESSO","BPN","BPN BRASIL","BR PARTNERS","BR PHARMA","BRACCE","BRADESCARD","BRADESCO","BRADESCO BBI","BRADESCO CART\u00d5ES","BRADESCO FINANC","BRADESCO LEASING","BRADESPAR","BRASCAN","BRASIL INV","BRASIL PLURAL","BRASIL TELECOM","BRAZILIAN MORTGAGES","BRB","BRDE","BRJ","BRP","BTG PACTUAL","BUENOS AIRES","BVA","CACIQUE","CAIXA","CAIXA GERAL","CAIXA GERAL BRASIL","CAIXA RS","CAIXA\/RS","CALYON BRASIL","CAPITAL","CARGILL","CATERPILLAR","CEDULA","CEMIG","CEMIG GT","CENTROVIAS","CHINA","CIFRA","CIT BRASIL","CITIBANK","CITIBANK N.A.","CITIBANK, N.A.","CITICARD","CLASSICO","CNH CAPITAL","CONCORDIA","CONFIDENCE","CONFIDENCE DE CAMBIO","CONTAX","CPFL ENERGIA","CR2","CREDIBEL","CREDIT AGRICOLE","CREDIT AGRICOLE BR","CREDIT SUISSE","CRUZEIRO","CRUZEIRO DO SUL","CSF","DASA","DAYCOVAL","DEUTSCHE","DEUTSCHE BANK","DIBENS","DIDIER LEVY","DIDIER LEVY BANCO DE C\u00c2MBIO S.A.","DRESDNER BANK BR","DUKE ENERGY","ELEKTRO","ELETROPAULO","ENERGISA","EQUITY","FATOR","FDC CCB","FIAT","FIBRA","FIC FIDC BTG PACTUAL II","FICSA","FIDC BMG IX","FIDC BMG VIII","FIDC BONSUCESSO","FIDC BONSUCESSO II","FIDC CEDAE","FIDC INS BAS DA IND PETR","FIDC INTERMEDIUM II","FIDC TAVEX II","FIDC VINCI CRED DESENV I","FIDIS","FINANCEIRA ALFA","FINASA BMC","FLEURY","FORD","GE CAPITAL","GERA\u00c7\u00c3O","GERADOR","GERDAU","GMAC","GOLDMAN SACHS","GUANABARA","HIPERCARD","HONDA","HSBC","HSBC BANK","HSBC FINANCE","HSBC INV BANK BR","HYPERMARCAS","IBI","IBM","IGUATEMI","INDUSCRED","INDUSCRED INVEST","INDUSTRIAL","INDUSVAL","ING","ING BANK","INTERCAP","INTERMEDIUM","INTERVIAS","INV CREDIT SUISSE","INVESTCRED","ITAU","ITAU BBA","ITAU CONSIGNADO","ITAU HOLDING","ITAUBANK","ITAUCARD","ITAUCRED","ITAULEASING","J. SAFRA","JBS","JOHN DEERE","JP MORGAN","JP MORGAN CH. BK","JP MORGAN CHASE","JSL","KDB","KDB BRASIL","KEB","KEB DO BRASIL","LAGE LANDEN","LEMON BANK","LOCALIZA","LOJAS AMERICANAS","LOJAS RENNER","LUSO BRASILEIRO","MARFRIG","MATONE","MAXIMA","MAXINVEST","MERCANTIL INV","MERCEDES BENZ","MERCEDES-BENZ","MERRILL LYNCH","MILLS","MODAL","MONEO","MORADA","MORGAN ST DEAN","MORGAN STANLEY","MRS LOGISTICA","NACION ARGENTINA","NATIXIS","NATIXIS BRASIL","NBC","NBC BANK","NBC BANK BRASIL","NOSSA CAIXA","NOSSA CAIXA DESENV","NOVA DUTRA","OPPORTUNITY","ORIGINAL","ORIGINAL DO AGRONEG","ORIGINAL DO AGRONEGOCIO","OURINVEST","PANAMERICANO","PARANA","PARANA BANCO","PAULISTA","PECUNIA","PETRA","PINE","PORTO REAL","PORTO SEGURO","POTTENCIAL","POUPEX","PROSPER","PSA FINANCE","PSA FINANCE BR","RABOBANK","RAIZEN ENERGIA","RANDON","RCI BRASIL","RENDIMENTO","RENNER","RODOBENS","RODOVIAS COLINAS","RURAL","RURAL INV","RURAL MAIS","SABESP","SAFRA","SAFRA DE INVESTIMENTO","SAFRA INVEST","SANTANDER","SANTANDER BRASIL ","SCANIA","SCHAHIN","SCOTIABANK","SEMEAR","SICREDI","SIMPLES","SOCIETE GENERALE","SOFISA","SOROCRED","SOROCRED CFI","STANDARD","STANDARD BI","STANDARD CHARTERED","STANDARD INV","SUL FINANCEIRA","SUMITOMO","TAESA","TELEFONICA","TELEMAR PART","TERMOPERNAMBUCO","TOKYO MITSUBISHI","TOKYO-MITSUBISHI","TOPAZIO","TOP\u00c1ZIO","TOYOTA","TRIANGULO","TRICURY","TRIUNFO PART","TRUST DO BRASIL","UBS PACTUAL","UNIBANCO","UNICARD","URUGUAY BANK","VIANORTE","VIAOESTE","VIPAL","VIVO","VOLKSWAGEN","VOLVO","VOTORANTIM","VR","WESTERN UNION","WESTLB","WOORI BANK","YAMAHA"]
    ;

    var cache = {};
 
    $( "#fundo" ).autocomplete({
      minLength: 2,
      source: function( request, response ) {
        var term = request.term;
        if ( term in cache ) {
          response( cache[ term ] );
          return;
        }
 
        $.getJSON( "http://localhost/viter-sf/web/app_dev.php/get_nome_contato", request, function( data, status, xhr ) {
          cache[ term ] = data;
          response( data );
        });
      }
    });
 
    $( "#emissor" ).autocomplete({
      minLength: 2,
      source: function( request, response ) {
        var term = request.term;
        if ( term in cache ) {
          response( cache[ term ] );
          return;
        }
 
        $.getJSON( "http://localhost/viter-sf/web/app_dev.php/get_empresa_contato", request, function( data, status, xhr ) {
          cache[ term ] = data;
          response( data );
        });
      }
    });
 
    $( "#fundo" ).autocomplete({
      source: nomesAvailableTags
    });

    $( "#emissor" ).autocomplete({
      source: emissoresAvailableTags
    });

});

</script>

<div class="page-header">
  <h1>{{ title }}</h1>
  {% if subtitle %}
    <p>{{ subtitle }}</p>
  {% endif %}
</div>

<form action="{{ path(action) }}" method="GET" class="form-horizontal" role="form">

<!--
set @fundo =   'FI MEGA DI LP' --nome do fundo
set @emissor = 'BMG' --nome do emissor
set @txts = 109.00 --%indexador 
set @txcl =   0.00 --%juros 
set @dtaquisicao = '2014-01-17' --formato AAAA-MM-DD
set @dtvcto =      '2015-07-17' --formato AAAA-MM-DD
-->

    <div class="form-group">
        <label class="col-sm-2 control-label" for="fundo">Fundo</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="fundo" id="fundo">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="emissor">Emissor</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="emissor" id="emissor" value="FIBRA">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="emissor">% Indexador</label>
        <div class="col-sm-6">
<input type="text" class="form-control" name="perc_indexador" id="perc_indexador" placeholder="% indexador" maxlength="3" value='107.5'>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="emissor">Data aquisição</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="dt_aquisicao" id="dt_aquisicao" placeholder="Data aquisição" maxlength="10" value="31/01/2014">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="emissor">Data vencimento</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="dt_vencimento" id="dt_vencimento" placeholder="Data vencimento" maxlength="10" value="31/01/2015">
        </div>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <button type="submit" class="btn btn-info">Consultar</button>
      </div>
    </div>
</form>
{% endblock %}