{% extends 'ViterGeratGeratBundle:Default:base.html.twig' %}

{% block content %}

<div class="page-header">
  <h1>{{ title }}</h1>
  {% if subtitle %}
    <p>{{ subtitle|raw }}</p>
  {% endif %}
</div>

<form action="{{ path(action) }}" method="GET" role="form">

    <div class="form-group">
      <label for="dt_ini">Início do Campo CNPJ</label>
        <input type="text" value="2" class="form-control" name="campoCnpj" id="campoCnpj" 
        placeholder="Inicio Campo CNPJ">
    </div>

    <div class="form-group">
      <label for="dt_ini">Pasta 1</label>
        <input type="text" class="form-control" name="pasta1" value="\\10.4.45.99\Public\120_bradesco" id="pasta1" 
        placeholder="Pasta 1">
    </div>
    
    <div class="form-group">
      <label for="dt_ini">Pasta 2</label>
        <input type="text" class="form-control" name="pasta2" id="pasta2" 
        placeholder="Pasta 2" value="\\10.4.45.99\Public\bradesco">
    </div>

    <button type="submit" class="btn btn-info">Consultar</button>
</form>
{% endblock %}