{% extends 'ViterGeratGeratBundle:Default:base.html.twig' %}

{% block content %}

<script>
$(function() {

    // get the current date
    var date = new Date();
    var m = date.getMonth(), d = date.getDate(), y = date.getFullYear();

    $("#dt_aquisicao").datepicker({
        dateFormat: 'dd/mm/yy',
        dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
        dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
        dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
        monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
        monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
        nextText: 'Próximo',
        prevText: 'Anterior',
        beforeShowDay: $.datepicker.noWeekends,
    });

    $("#dt_vencimento").datepicker({
        dateFormat: 'dd/mm/yy',
        dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
        dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
        dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
        monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
        monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
        nextText: 'Próximo',
        prevText: 'Anterior',
        beforeShowDay: $.datepicker.noWeekends,
    });

    var nomesAvailableTags =
["FUNDO DE DESENVOLVIMENTO SOCIAL","GOV ERJ-CT A","GOV ERJ-CT B","FGTS A - DISPONIBILIDADE FINANCEIRA","FGTS B - FUNDO DE LIQUIDEZ","GOV MG","FAR","GOV AM-BEA","GOV PI BEP A","FAPS PM DE SAPUCAIA DO SUL","GOV AL-CONT","AMPREV","GUARAPUAVA","FUNPREV","IPMAT","IPREBE","IPPASSO","IPM UBATUBA","FGTS HABITACAO","FGTS SANEAMENTO E INFRAESTRUTURA","IPREM POUSO","FGTS HABITACAO RV","GOV RJ-CT B1","FGTS TRANSPORTE E MOBILIDADE URBANA","FIC AZULFIC LP","FIC BETA DI LP","FIC PRATICO CP","FI MASTER PERSONALIZADO 50 LP","FIC EXECUTIVO LP","FI NOGUEIRA","FIC FUNDACOES CP","FIC CLASSICO LP","FIA IBOVESPA","FIC PERSONAL LP","FIC ABSOLUTO PRE LP","FIC SOBERANO LP","FIC INVESTIDOR LP","FI SENIOR IV MULTI","FI MASTER INDICE DE PRECOS 50 LP","FIC PATRIMONIO LP","FI PRO SER LP","FIC CAPITAL LP","FIA TOP CONDOR FUNCEF","FIA ALVORADA FUNCEF","FMP PETROBRAS IV","FIA TOP ULTRA FUNCEF","FIA TOP CONCORD FUNCEF","FIA SAVANA SUSTENTABILIDADE FUNCEF","FI MULTIMERCADO RV 30 LP","FIC ESPECIAL LP","FIC ESTRATEGICO MULTI LP","FI MERCURIO","FI BRASIL DI LP","FIC SELECAO","FIC LIQUIDEZ CP","FI PCRJ","FIC PREFERENCIAL DI LP","FI SANEPAR I","FIA BRASIL IBX50","FI PREVINVEST GESTAO","FI PREVINVEST RV49","FIC PREV 200","FI MASTER PREFIXADO 50 LP","FIC PREV 100","FI SEBRAE LP","FIA PETROBRAS","FMP PETROBRAS III","FMP PETROBRAS II","FIC PREV 300 MULTI RV 15","FIC PREV 300","FI JEQUITIBA LP","FIC PREV 300 MULTI RV 30","FI PARDO FUNCEF","FI MASTER LIQUIDEZ CP","FI DBH LP","FI IDEAL PREV","FI DESENBAHIA","FI PREVHAB MULTI","FIA CARTEIRA ATIVA II","FI FTJ","FI TRANQUILIDADE MULTI","FI LEBLON DI","FMP PETROBRAS CL RF 49","FI ARPOADOR MULTI FUNCEF","FI SEVILLA MULTI FUNCEF","FI EROS MULTI CRED","FI MARFIM","FI MARSEILLE MULTI FUNCEF","FI ANGELIN LP","FMP VALE I","FIA VALE DO RIO DOCE","FMP VALE II","FMP VALE MIGRACAO","FI MASTER III","FIC BRASIL SEM MISERIA CP","FIC CAMBIAL DOLAR","FI HERCULES","FI MASTER TPF LP","FI BRASIL TP LP","FI ALIANCA TP","FIA PIBB SEM OPCAO","FI POSEIDON","FI RS LP","FI CNI LP","FI CERRADO DI","FIA IBRX ATIVO","FI APEX BRASIL LP","FI MASTER CONSERVADOR DI LP","FI MASTER CAMBIAL","FIA DIVIDENDOS","FI ANGRA MULTI FUNCEF","FI SUCUPIRA","FI MASTER ESTRATEGICO MULTI LP","FI PETROS HABITACIONAL","FIC DINAMICO LP","FIC SUPREMO LP","FI SIDERTUBE CRED LP","FI PRECE","FIA IBOVESPA ATIVO","FIC PREV 150 MULTI RV 30","FIC PREV 150 MULTI RV 15","FI MASTER ESSENCIAL 50 LP","FIC LONG SHORT LP","FIC PREV 150 MULTI RV 49","FI FUNCEF HABITACIONAL","FIC AM PERSONALIZADO LP","FI MASTER AM LP","FI FUNPRESP MULTI","FIC PREV 300 MULTI RV 49","FIA ISE","FIC PLATINUM MULTI LP","FIC PREV 70","FI IPE","FI MASTER LS LP","FIA TOP ATLAS FUNCEF","FI ANS LP","FI ISEDA LP","FI FIDELIDADE LP","FI XCVI LP","FIA CERRADO SUSTENTABILIDADE","FI PMSP LP","FI GAMA CRED LP","FIC CEDAE LP","FI PATRIA CRED LP","FIC FAZENDA ERJ LP","FI FGTS","FI PREVINVEST IP","FI MASTER PLUS 50 DI LP","FI TEKA","FI PREFEITURA RECIFE","FI AERUS MULTI CRED","FI BRASIL MULTI LP","FI MASTER MODERADO 50 LP","FIC LARANJAL MULTI CRED","FIC MUTUA LP","FI ANS II LP","FIC FOCO INDICE DE PRECOS LP","FIC ALEGRIA MULTI CRED","FIA TIRADENTES VALOR FUNCEF","FIA OPERA VALOR FUNCEF","FIA FEBE VALOR FUNCEF","FI MEGA DI LP","FI ARARAQUARA CRED","FI ENERGISA CRED","FIC GUARUJA LP","FI RODOVIAS CRED","FI SELETO LP","FI FIDELIDADE II LP","FI FGHAB MULTI","FI XVI CRED LP","FI INSTITUCIONAL TP LP","FI CABERJ CRED LP","FI CORPORATIVO LP","FIC APORTE XIII LP","FI OMEGA CRED LP","FI QUALIFICADO CRED LP","FI DIRECIONAL CRED LP","FI VERONA CRED LP","FIC GIRO MPE DI LP","FIA CONSTRUCAO CIVIL","FIA INFRAESTRUTURA","FI EXTRAMERCADO III IRFM 1+ LP","FIC GERACAO JOVEM CRED LP","FI BRASIL IMAB 5+ LP","FIC RELACIONAMENTO IDEAL LP","FIC RELACIONAMENTO PERSONAL LP","FIA CONSUMO","FIC PERFORMANCE IMAB LP","FI BRASIL IRFM 1+ LP","FIC PREV 250 MULTI RV 49","FIC PREV 200 MULTI RV 49","FIC PREMIUM DI LP","FIC ARROJADO CRED LP","FIC NOVO BRASIL IMAB LP","FI ENERGIA LP","FIC SIGMA DI LP","FIC FAMILIA FERREIRA LP","FI FGCN MULTI CRED","FI SAFIRA CRED LP","FI PROGRESSO CP","FIC AFEAM LP","FI ROSSI MULTI CRED LP","FI AFPR LP","FIC PREV 125 MULTI RV 49","FIC PREV 30","FIC PREV 125 IP","FIC PLENO DI","FIC TRANSFERENCIA VOLUNTARIA CP","FI BARRA MULTI","FI CORCOVADO MULTI","FI CELI MULTI LP","FI BRASIL IMAB LP","FI BRASIL IRFM 1","FI FACE CRED LP","FI MASTER TERMO LP","FIC PREV 150 IP","FI MASTER BR IMAB LP","FI GOV PERNAMBUCO CP","FI EXTRAMERCADO IV IRFM LP","FI MASTER SOBERANO IP LP","FI MASTER CRED LP","FI LAGOA MULTI CRED","FI LAMEIRAO MULTI CRED","FI XEREM MULTI CRED","FIA RIO DOURADO","FI RIO PRETO MULTI CRED","FIC RIO DOURO ACOES","FIC PREV 200 IP","FIA PETRO PRE SAL","FI ATLANTICO CRED LP","FIC PREV 150","FIC PREV 50","FIC PREV 250 MULTI RV 15","FIC PREV 200 MULTI RV 15","FIC PREV 125 MULTI RV 15","FI SUSTENTABILIDADE CRED","FI PORTOS PARANA","FI INVESTGAS CRED LP","FI BRASIL IMAB 5 LP","FI BRASIL IMA GERAL LP","FI CORPORATIVO II LP","FI TROICA CRED","FI ACANTHUS CRED","FI ROSSI DI LP","FI ARPOADOR MULTI CRED","FIC PREV 250","FI MINAS MULTI FUNCEF","FI VITORIA MULTI FUNCEF","FI LAPA MULTI FUNCEF","FI BR IPCA XI","FI BR IPCA XII","FI BR IPCA X","FI CPB CRED LP","FI BR IPCA I","FI BR IPCA II","FI VERTICE MULTI CRED LP","FI BR IPCA VII","FI BR IPCA VI","FI BR IPCA V","FI BR IPCA III","FIC METRO RIO CAMBIAL LP","FI BR IPCA VIII","FI BR IPCA IX","FI PBH DI","FI BR IPCA IV","FI JSL MULTI CRED LP","FI IPLEMG LP","FIC VINCI INFRAESTRUTURA MULTI CRED","FI PLATINA CRED FUNCEF","FI PRATA MULTI CRED FUNCEF","FI GANGES MULTI CRED FUNCEF","FI NILO MULTI CRED FUNCEF","FI AGERIO LP","FIC PREV 200 MULTI CRED","FIC PREV 250 MULTI CRED","FI PREVINVEST MULTI CRED","FIC PREV 125 MULTI RV 30","FI R2R CRED LP","FIC PREV 125 MULTI CRED","FIA BRASIL IBOVESPA","FI BR IPCA XIV","FI BR IPCA XIII","FIC PREV 150 MULTI CRED","FIA PENHA","FI MACACOS MULTI CRED","FIC SARAPUI MULTI CRED","FIC GUANDU MULTI CRED","FIC PREV 200 MULTI RV 30","FIC PREV 250 MULTI RV 30","FI BR IPCA XV","FI PEQUIA","FI AMIGO II MULTI","FI BR IPCA I MULTI CRED","FI BR IPCA II MULTI CRED","FI BR IPCA III MULTI CRED","FI BR IPCA IV MULTI CRED","FI BR IPCA VII MULTI CRED","FI CEDRO","FI BR IPCA V MULTI CRED","FI BR IPCA VI MULTI CRED","FI AQUA MULTI CRED","FI BR IPCA VIII MULTI CRED","FIC PREV 250 IP","FIC OBJETIVO PRE LP","FI JUROS E MOEDAS MULTI LP","CAIXA ETF IBOVESPA FUNDO DE INDICE","FI FOX SOBERANO I","FI FOX SOBERANO II","FI FOX SOBERANO III","FI MASTER CAPITAL PROTEGIDO IBOV I MULTI","FIC CAPITAL PROTEGIDO IBOV CICLICO I MULTI","FIA PONTE JK","FI FOX SOBERANO IV","FI BRASIL IDKA IPCA 2A TP LP","FI ENERGIA XINGU CRED LP","FI PROV TECNICAS CONS DPVAT","FI EXTRAMERCADO VII IRFM 1","FI FOX SOBERANO V","FIA DOM BOSCO","FIA REPUBLICA","FIA LETO","FIA VINCI VALOR","FIC ACOES VALOR SMALL CAP","FIC ACOES VINCI GAS VALOR SMLL","FIC ACOES VINCI GAS VALOR","FIC PMPK CRED","FI EXTRAMERCADO X LP","FI EXTRAMERCADO COMUM IRFM 1","FI EXTRAMERCADO II LP","FI EXTRAMERCADO I LP","FI PARICA LP","FI EXTRAMERCADO VI IRFM 1","FI EXTRAMERCADO EXCLUSIVO XXI","FI JUPITER MULTI CRED LP","FI BRASIL IRFM TP LP","FI BRASIL DISPONIBILIDADES","FIC MOVIMENTACOES AUTOMATICAS CP","FIDC BMG CONSIGNADO RPPS","FIA SMALL CAPS ATIVO","FIA BRASIL ETF IBOVESPA","FIA CARTEIRA ATIVA III","FIA FAROL","FIA BARRA","FIA PITUBA","FIA E-FUNDO IBOVESPA","FIC E-FUNDO LP","FIC E-FUNDO 500 LP","FIC ACOES VALOR DIVIDENDOS","FIA VINCI VALOR DIVIDENDOS","FIC ACOES VINCI GAS VALOR DIVIDENDOS","FIA GENIPABU","FIA BOTANICA SUSTENTABILIDADE FUNCEF","FIA GUARANI FUNCEF","FI SETE BRASIL LP","FI MASTER AUTOMATICO 50","FI GOIAS FOMENTO LP","FI I MULTI LP","FIC CELG LP","FIC ASPIS CRED","FIC APORTE IMEDIATO 177 LP","FIC APORTE IMEDIATO 178 LP","FIC PREV 80 IP","FI EXTRAMERCADO V","FI ONIX MULTI CRED","FIC PREV 80 MULTI CRED","FIC FIEL LP","FI BALTICO MULTI CRED","FIA MULTI SETORIAL","FIA VIRTUS","FI ENGENHARIA BRASIL CRED LP","FI PORTO MARAVILHA CRED LP","FI CATEDRAL CRED","FI FOX CREDITO BANCARIO CRED","FI OURO MULTI LP","FIC GIRO EMPRESAS DI LP","FI MATRIZ MULTI CRED","FI PEROLA MULTI CRED LP","FI COLUMBIA MULTI CRED","FIC XP JUROS E MOEDAS MULTI LP","FIC MAXI CRED LP","FI UNIESP PAGA CRED LP","FI ML LP","FI IPDA CRED","FI BTG PACTUAL X30 MULTI LP","FIC GIRO IMEDIATO DI LP","FIA INSTITUCIONAL BDR NIVEL I","FIA BDR NIVEL I","FIC ATLETA CRED LP","FIC ALOCACAO MULTI CRED LP","FI PLATINA II CRED","FI PRECE CV IMAB","FI FGBP LP","FI VALE","FI CFIAE","FI PLACIDAS CRED LP","FI LIKE MULTI CRED LP","FIC APORTE IMEDIATO 215 LP","FIC APORTE IMEDIATO 216 LP","FI PM OSASCO","BB FUNPRESP FI MULTI","FI IMUNANA MULTI CRED","FI MASTER PERFORMANCE 50 LP","FI DME LP","FI GERANIUM INST","FIC SQUARE MULTI CRED LP","FIC IDEAL LP","PREVEXTREMA"]
    ;

    var empresasAvailableTags =
[""," AUDAE ","ABDIB","ABENGOA BRASIL","ABN-AMRO","ABRAGEF","ABVCAp","ABVCap","AD Capital","AEI Services LLC","AG - Andrade Gutierrez Consultora","AGIP","ALICO","ALL","ALTRAN","ALUPAR","ALUSA","ANCEABRA","ANEEL","ASK","ASTRA","ATE Transmissora","ATP","Abengoa","Abengoa Brasil","Advent International","Advent do Brasil ","Agencia Ermelino","Agencia Itaquera","Ageo","Ag\u00eancia Estado ","Ag\u00eancia Itaquera CAIXA","Albatroz","Albino Advogados Associados","Alico","Almeida Prado","Alonso Balaguer Arquitetos ","Alupar","Alusa","Alvarez & Marsal Brasil ","American Appraisal","Amitim","Anbima","Andrade Gutierrez","Andrade Gutierrez Conc.","Andrade Gutierrez Consultora","Angra Partners","Aqces","Aqua Rio","Aquapolo Ambiental","Aquila","Arco Metropolitano","Arsenal","Ass. Ministro Moreira Franco","Astra","Astra Investimentos","Auditoria caixa","Azevedo Sette Advogados","BB","BBVA","BES","BI INVEST","BM&A Advogados","BMG","BNB Banco do Nordeste","BNDES","BNP","BNP PARIBAS","BR Investimentos","BR Partners","BR Towers","BR Vias","BR Woods","BRZ","BRZ Investimentos","BS3 Solu\u00e7\u00f5es Econ\u00f4micas e Comerciais ","BTG","BTG - Investment Banking","BTG Pactual","BTG Pactual ","BVA","Banco ABC","Banco ABC Brasil","Banco Alem\u00e3o","Banco BANIF","Banco BMG","Banco BVA","Banco Bradesco BBI S.A.","Banco Esp\u00edrito Santo","Banco Fator","Banco Interamericano de Desenvolvimento","Banco Lazad","Banco Nordeste","Banco PAN","Banco Pan","Banco Pine","Banco Safra","Banco Votorantim (EUA)","Banco de Bras\u00edlia","Banco do Brasil","Banco do Nordeste","Banesprev","Bank of America","Barclays","Bertim","Bertin","Bic Banco","Blackrock","Bocater","Bolognese","Bomachar Advogados","BookFild Energia","Bradesco","Bradesco ","Bradesco BBI","Bradesco Corporate","Bradesco Prime Conjunto Nacional","Brascan","Brasdesco","Brasil Plural","Braz Carnes - Food Service","Brazilian Mortgages","Brenann","Brennand","Brio Investimentos","Brookfield","CAB Ambiental","CAIXA","CAIXA ","CAIXA PAR","CAIXA SEGUROS","CCP","CCR","CDURP","CEDAE","CESAN","CESP","CGU","CIBE","COMPESA","CONE","COPASA","CPFL","CRR","CUT","CVM","CYRELA","Caixa Cons\u00f3rcios","Caixa Geral","Camargo Correa","Camargo Corr\u00eaa","Carbono Brasil","Carioca Engenharia","Casa dos Ventos","Castro Barros Advogados","Cedae","Cedurp","CentroProjekt do Brasil","Cetip","Cibe","Citibank","Cluster de Bionergia S\/A","Cl\u00ednica M\u00e9dica","Coimex","Colmar ","Comit\u00ea","Comit\u00ea\/Secovi","Comporte \/ BR Vias","Concremat","Conselho Curador FGTS","Conselho FI FGTS","Construtora Cristo Rei","Construtora Viver","Consultora","Copasa","Credit Suisse","Creta","Cyrela (CCP)","DECEV","DEFIN","DEGAN","DEOPE","DESAN","DGF","DIJUR","Deal Makers","Desenvix","Deutsche Bank","Diretoria Fundos ","Dock Shore","E&Y","EBX","ENESA Engenharia","ENOB Engenharia Ambiental Ltda","ERB","ESTRE","EVOCATI ASSET","Ebrasil","Economus","Eldorado","Eldorado Brasil","Eldorado Brasil ","Embraport","Energisa","Engevix","Equatorial","Ernst","Ernst ","Ernst & Young","Ernst Young","Essence","Essencis","Estad\u00e3o","Estad\u00e3o ","Estre","Ex Renova Energia","FALCONI","FALCONI ","FESA","FGA - Consulting & Business","FGV","FGV ","FGV - Financeiro","FGV Rio","FIBRA EXPERT","FINANCE- Moinhos ","FOZ","FOZ JUR\u00cdDICO","FUNCEF","FUNCEF Diretoria","FURNAS","Fator","Ferroestal","Fibra","Fitch Rating","Fitch Ratings","Folha de SP","Fox","Foxx","Foz do Brasil","Funcef","Furnas","GAFISA","GE Capital","GEATS","GEBCEX","GEFOM","GEIMP","GENUS Capital Group","GERIM","GISUT","GP Investimentos","GPI ","GPI Investiments","GPI- Participa\u00e7\u00f5es e Investimentos ","GTI","Gabinete Deputado","Gafisa","Galv\u00e3o Energia S\/A","General Eletric","Glep","Global asset management","Gomes Louren\u00e7o","Governo de Mato Grosso","Gradus","Grandes Empresas","Gra\u00e7a Advogados","Grupo Andrade","Grupo Cone","Grupo MCF","Grupo Rede","HINES","Haztec","Hemisf\u00e9rio Sul","Hidrot\u00e9rmica","IGC Partner","IGEPREV","IMPSA","INFRA ASSET","INFRA asset management ","INTEGRAL ","INVEPAR","IQPC","IRB","IRB Brasil RE ","Infrasec","Insper Senior Solutions","Instituto FGTS F\u00e1cil ","Integral Investimentos","Integral Investimentos ","Investech","Irm\u00e3o Flavio","Itau","Itau BBA","Itau BBI","Itau BBa","Ita\u00fa - Unibanco","Ita\u00fa BBA","Ita\u00fa BBA ","Iven Construtora","Ivo Marques Advogados","J & F","J Maluceli","J Malucelli","J&F","JHSF Participa\u00e7\u00f5es","JHSF Participa\u00e7\u00f5es ","JP Morgan","JSL","Jornal Estad\u00e3o","Julio Sim\u00f5es","Jur\u00eddico Grupo Rede","Jur\u00eddico da FOZ","KPMG","King Fish","LCA","LLX","Lakeshore","Lakeshore Partners","Latitude Gest\u00e3o & Finan\u00e7as","Lazard","Levy","Levy Salom\u00e3o","Light","Local Invest","M P W","MCF Narco Feitosa","MPX","MRS","MRV","MRV Engenharia","MSW","MTE","Machado Meyer","Madeira Energia","Mantiq","Maps Solu\u00e7\u00f5es e Servi\u00e7os","Mattos Filho","Mau\u00e1","Mau\u00e1 Secular","McKinsey&Company","Mckinsey","Membro FI-FGTS","Mendes Junior","Merril Linch","Merryl Lynch","Michel Gutnik","Minist\u00e9rio Fazenda","Minist\u00e9rio da Previd\u00eancia Social","Modal","Moody\u00b4s","Morgan Stanley","Morgan Stanley ","Mota Fernandes","Motta Fernandes","Moura Dubeux","Multiner","Multner","NSG CAPITAL","NSG Capital","Nancy","Naval Participa\u00e7\u00f5es  Camargo Corr\u00eaa","Neo Energia","Nexpar","Nova Advisor","Nova Advisor ","OAS","OAS - Ol\u00e9o e G\u00e1s S.A.","OAS - \u00d3leo e G\u00e1s S.A.","OAS - \u00d3leo e G\u00e1s S.A. ","OAS Investimentos ","ODEBRECHT - Realiza\u00e7\u00f5es Imobiliarias","OHL","OR ","OSX","OTP","Odebrecht","Odebrecht Infraestrutura","Odebrecht Transport","Omega Energia","PAR  -Riscos Especiais","PAR - Riscos Especiais","PETROBRAS","PLUMBUM DO BRASIL","PREVI","PREVIRB","Pacific Hydro","Pai Flavio","Panamericano","Partner Energy","Petrobras","Petrobr\u00e1s","Petroleo e Gas","Petros","Planner","Plural Capital","Porto","Porto Novo","Prece","Prefeitura de SP","Prefeitura de SP ","Price","Pulsar Invest","QUEIROZ GALV\u00c3O","QUEIROZ GALV\u00c3O ","Qualitty im\u00f3veis","Qualit\u00e1 - Eng. e Gerenciamento Ambiental Ltda","Quantum","Queiroz Galv\u00e3o","RB Capital","RDS Energia","ROSSI","Rait Secutiriza\u00e7\u00e3o","Recursos para projetos","Rede Energia","Rede Energia - RH","Renova","Ribeiro","Rio Bravo","Rio Forte","Riviera Invest.","Riviera Investimentos","Rodobens","Rossi","S&P","S&Pq","SASCAR","SETAPE","SGE","SGE Constru\u00e7\u00e3o Civil","SGE Infra Estrutura RJ","SGE Varejo","SICOOB CENTRAL PR","SINEEPRES","SPX capital ","SR Grandes Empresas","SR Norte de ES","SR Petrobras","STX","SUATE D","SUINT","SURBE","SURIC","Sabesp ","Santa Maria","Santander","Santander ","Santo Antonio","Santo Antonio Energia","Sascar","Sec Municipal Curitiba","Sete Brasil","Sind. Eletricit\u00e1rios do MS","Soares Bumachar","Solvi Participa\u00e7\u00f5es","Solv\u00ed","Souza Cescon","Standard & Pool","Standard Poors","Starwood","Sudeste de Minas","Sup. G\u00e1s e Petr\u00f3leo","Sup. Petroleo e G\u00e1s","Superintendente SR SUL de Goi\u00e1s","T.O.C. Garantias Contratuais","TCU","TRX","Tead","Telebr\u00e1s","Telebr\u00e1s ","Tesouro Nacional","The Hoskinson Group","Tishman","Tokio Marine","Top Idiomas","Tozini Advogados","Tozzini","Transnordestina","Trisul","UBS AG, New York Branch ","UBS Securities LLC","UGT (Uni\u00e3o Geral dos Trabalhadores)","Uni\u00e3o engenharia - MKT","Up Side","VIGOV","VINCI partners","VIS Investimentos","VLI","Vale Energia","Valentina Caran","Valor","Valora","Valora Investimento","Vaz Barreto","Versal Finance","Vince Partners","Vinci Partners","Viver","Voga","Votorantim","WWI","Westfield Almeida Jr","XP","XP ","Zogbi Mau\u00e1","consultor VP Fabio Lenza","lgamboa","\u00c1QUILA Corporate & Risk","\u00c1gua Limpa Energia S\/A"]
    ;

    var cache = {};
 
    $( "#fundo" ).autocomplete({
      minLength: 2,
      source: function( request, response ) {
        var term = request.term;
        if ( term in cache ) {
          response( cache[ term ] );
          return;
        }
 
        $.getJSON( "http://localhost/viter-sf/web/app_dev.php/get_nome_contato", request, function( data, status, xhr ) {
          cache[ term ] = data;
          response( data );
        });
      }
    });
 
    $( "#emissor" ).autocomplete({
      minLength: 2,
      source: function( request, response ) {
        var term = request.term;
        if ( term in cache ) {
          response( cache[ term ] );
          return;
        }
 
        $.getJSON( "http://localhost/viter-sf/web/app_dev.php/get_empresa_contato", request, function( data, status, xhr ) {
          cache[ term ] = data;
          response( data );
        });
      }
    });
 
    $( "#fundo" ).autocomplete({
      source: nomesAvailableTags
    });

    $( "#emissor" ).autocomplete({
      source: empresasAvailableTags
    });

});

</script>

<div class="page-header">
  <h1>{{ title }}</h1>
  {% if subtitle %}
    <p>{{ subtitle }}</p>
  {% endif %}
</div>

<form action="{{ path(action) }}" method="GET" class="form-horizontal" role="form">

    <div class="form-group">
        <label class="col-sm-2 control-label" for="emissor">Emissor</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="emissor" id="emissor" value="INDUSVAL">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="emissor">Data atualização</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="dt_aquisicao" id="dt_aquisicao" placeholder="Data aquisição" maxlength="10" value="22/01/2014">
        </div>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <button type="submit" class="btn btn-info">Consultar</button>
      </div>
    </div>
</form>
{% endblock %}