{% extends 'ViterGeratGeratBundle:Default:base.html.twig' %}

{% block content %}

<script>
$(function() {

    // get the current date
    var date = new Date();
    var m = date.getMonth(), d = date.getDate(), y = date.getFullYear();

    $("#dt_referencia").datepicker({
        dateFormat: 'dd/mm/yy',
        dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
        dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
        dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
        monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
        monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
        nextText: 'Próximo',
        prevText: 'Anterior',
        beforeShowDay: $.datepicker.noWeekends,
    });

});

</script>

<div class="page-header">
  <h1>{{ title }}</h1>
  {% if subtitle %}
    <p>{{ subtitle }}</p>
  {% endif %}
</div>

<form action="{{ path(action) }}" method="GET" class="form-horizontal" role="form">

    <div class="form-group">
        <label class="col-sm-2 control-label" for="emissor">Data de referência</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="dt_referencia" id="dt_referencia" placeholder="Data de referência" maxlength="10" value="">
        </div>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <button type="submit" class="btn btn-info">Consultar</button>
      </div>
    </div>
</form>
{% endblock %}