{% extends 'ViterGeratGeratBundle:Default:base.html.twig' %}

{% block content %}

<div class="page-header">
  <h1>{{ title }}</h1>
  {% if subtitle %}
    <p>{{ subtitle }}</p>
  {% endif %}
</div>

<form action="{{ path(action) }}" method="GET" class="form-inline" role="form">

    <div class="form-group">
        <div class="col-lg-10">
            <label for="co_bench" class="control-label">Benchmark</label>
            <select name="co_bench" class="form-control">
                <option value="37">CDI</option>
                <option value="1">IBOV</option>
                <option value="2">IBrX</option>
                <option value="3">IBrX50</option>
                <option value="4">ICON11</option>
                <option value="5">IDIV11</option>
                <option value="28">IDkA IPCA 10A</option>
                <option value="38">IDkA IPCA 15A</option>
                <option value="29">IDkA IPCA 20A</option>
                <option value="6">IDkA IPCA 2A </option>
                <option value="30">IDkA IPCA 30A</option>
                <option value="26">IDkA IPCA 3A</option>
                <option value="27">IDkA IPCA 5A</option>
                <option value="22">IDkA Pré 1A</option>
                <option value="23">IDkA Pré 2A</option>
                <option value="24">IDkA Pré 3A</option>
                <option value="21">IDkA Pré 3M</option>
                <option value="25">IDkA Pré 5A</option>
                <option value="7">IMA-B 5</option>
                <option value="8">IMA-B 5+</option>
                <option value="9">IMA-B TOTAL</option>
                <option value="31">IMA-C TOTAL</option>
                <option value="33">IMA-GERAL ex-C TOTAL</option>
                <option value="10">IMA-GERAL TOTAL</option>
                <option value="32">IMA-S TOTAL</option>
                <option value="11">IMOB11</option>
                <option value="35">IPCA</option>
                <option value="36">IPCA+6%</option>
                <option value="12">IRF-M 1</option>
                <option value="13">IRF-M 1+</option>
                <option value="14">IRF-M TOTAL</option>
                <option value="15">ISEE11</option>
                <option value="16">PETR3</option>
                <option value="20">PETR4</option>
                <option value="19">PIBB11</option>
                <option value="17">PTAX</option>
                <option value="34">SMLL11</option>
                <option value="18">VALE3</option>
            </select>  
        </div>
    </div>
    
    <div class="form-group">
      <div class="col-lg-10">
      <label for="dt_ini" class="control-label">Data Inicial</label>
        <input type="text" class="form-control" name="dt_ini" id="dt_ini" 
        placeholder="Data inicial" maxlength="10">
        <label for="dt_ini" class="error label label-danger"></label>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-10">
      <label for="dt_fim" class="control-label">Data Final</label>
        <input type="text" class="form-control" name="dt_fim" id="dt_fim" 
        placeholder="Data final" maxlength="10">
        <label for="dt_fim" class="error label label-danger"></label>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <button type="submit" class="btn btn-info">Consultar</button>
      </div>
    </div>
</form>
{% endblock %}