{% extends 'ViterGeratGeratBundle:Default:base.html.twig' %}

{% block content %}

<div class="row">
    <div class="col-md-12">

        <div class="page-header">
            <h1>{{ title }}</h1>
            <p>Utilize o formulário abaixo para o cadastro de ligação.</p>
        </div>
        
        {% if ativo is defined %}
            <form action="{{ path( path, {'id': ativo.id}) }}" method="post" {{ form_enctype(form) }} class="form-horizontal" role="form">
        {% else %}
            <form action="{{ path( path) }}" method="post" {{ form_enctype(form) }} class="form-horizontal" role="form">
        {% endif %}
        
          {% if form_errors(form) %}
          <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ form_errors(form) }}
          </div>
          {% endif %}

          <div class="form-group">
            <label for="nome" class="col-sm-2 control-label">Nome</label>
            <div class="col-sm-3">
              {{ form_widget(form.nome, {'attr': {'class': 'form-control'}}) }}
            </div>
          </div>

          <div class="form-group">
            <label for="grupo" class="col-sm-2 control-label">Grupo</label>
            <div class="col-sm-3">
              {{ form_widget(form.grupo, {'attr': {'class': 'form-control'}}) }}
            </div>
          </div>

          <div class="form-group">
            <label for="tipo" class="col-sm-2 control-label">Tipo</label>
            <div class="col-sm-6">
              {{ form_widget(form.tipo, {'attr': {'class': 'form-control'}}) }}
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-2">
              {{ form_widget(form.salvar, {'attr': {'class': 'btn btn-default'}}) }}
            </div>
          </div>

        {{ form_rest(form) }}

        </form>
    </div>
</div>
{% endblock %}