{% extends 'layout.html.twig' %}

{% block content %}

<div class="page-header">
  <h1>{{ title }}</h1>
  {% if subtitle %}
    <p>{{ subtitle }}</p>
  {% endif %}
</div>

<div class="col-xs-3">

{{ form_start(form, {'action': path(action), 'method': method}) }}

    {{ form_errors(form) }}

    {{ form_row(form.dataAtualizacao) }}

    {{ form_row(form.submit, { 'label': 'Consultar' }) }}

{{ form_end(form) }}

</div>
{% endblock %}