{% extends 'ViterGeratGeratBundle:Default:base.html.twig' %}

{% block content %}

<script>
$(function() {

    // get the current date
    var date = new Date();
    var m = date.getMonth(), d = date.getDate(), y = date.getFullYear();

    $("#dt_aquisicao").datepicker({
        dateFormat: 'dd/mm/yy',
        dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
        dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
        dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
        monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
        monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
        nextText: 'Próximo',
        prevText: 'Anterior',
        beforeShowDay: $.datepicker.noWeekends,
    });

    var emissoresAvailableTags =
["ABC BRASIL","ABC-BRASIL","ABN - AMRO BANK","AG FOM AM","AG FOM AP","AG FOM BA","AG FOM GO","AG FOM MT","AG FOM PE","AG FOM PI","AG FOM PR","AG FOM RJ","AG FOM RN","AG FOM RR","AG FOM SP","AG FOM TO","AGPART","ALFA","ALFA ARREND MERC","ALFA DE INVEST","ALGAR TELECOM","ALL","ALUPAR","ALVORADA","AMIL","AMPLA ENERGIA","ARBI","AUTOBAN","AUTOMETAL","AUTOVIAS","AZTECA","AZTECA DO BRASIL","BADESC","BADESUL","BANCO BERJ S.A.","BANCO DO BRASIL","BANCO FIDIS","BANCO STANDARD","BANCO TRICURY S\/A","BANCO WESTERN UNION DO BRASIL S.A.","BANCOOB","BANDEPE","BANDES","BANERJ","BANESE","BANESTES","BANIF","BANIF BCO","BANIF BCO INV","BANIF BI","BANIF INVEST","BANKPAR","BANPARA","BANRISUL","BANSICREDI","BARCLAYS","BASA","BBM","BBN","BBVA","BCN","BCO CNH CAPITAL","BCV","BDMG","BERJ","BES","BES INVESTIMENTO","BEXS","BGN","BIC","BM&F","BM&FBOVESPA","BMB","BMC","BMG","BNB","BNDES","BNDESPAR","BNP","BNP PARIBAS","BNY MELLON","BOAVISTA","BOAVISTA INTERATLANTICO","BONSUCESSO","BPN","BPN BRASIL","BR PARTNERS","BR PHARMA","BRACCE","BRADESCARD","BRADESCO","BRADESCO BBI","BRADESCO CART\u00d5ES","BRADESCO FINANC","BRADESCO LEASING","BRADESPAR","BRASCAN","BRASIL INV","BRASIL PLURAL","BRASIL TELECOM","BRAZILIAN MORTGAGES","BRB","BRDE","BRJ","BRP","BTG PACTUAL","BUENOS AIRES","BVA","CACIQUE","CAIXA","CAIXA GERAL","CAIXA GERAL BRASIL","CAIXA RS","CAIXA\/RS","CALYON BRASIL","CAPITAL","CARGILL","CATERPILLAR","CEDULA","CEMIG","CEMIG GT","CENTROVIAS","CHINA","CIFRA","CIT BRASIL","CITIBANK","CITIBANK N.A.","CITIBANK, N.A.","CITICARD","CLASSICO","CNH CAPITAL","CONCORDIA","CONFIDENCE","CONFIDENCE DE CAMBIO","CONTAX","CPFL ENERGIA","CR2","CREDIBEL","CREDIT AGRICOLE","CREDIT AGRICOLE BR","CREDIT SUISSE","CRUZEIRO","CRUZEIRO DO SUL","CSF","DASA","DAYCOVAL","DEUTSCHE","DEUTSCHE BANK","DIBENS","DIDIER LEVY","DIDIER LEVY BANCO DE C\u00c2MBIO S.A.","DRESDNER BANK BR","DUKE ENERGY","ELEKTRO","ELETROPAULO","ENERGISA","EQUITY","FATOR","FDC CCB","FIAT","FIBRA","FIC FIDC BTG PACTUAL II","FICSA","FIDC BMG IX","FIDC BMG VIII","FIDC BONSUCESSO","FIDC BONSUCESSO II","FIDC CEDAE","FIDC INS BAS DA IND PETR","FIDC INTERMEDIUM II","FIDC TAVEX II","FIDC VINCI CRED DESENV I","FIDIS","FINANCEIRA ALFA","FINASA BMC","FLEURY","FORD","GE CAPITAL","GERA\u00c7\u00c3O","GERADOR","GERDAU","GMAC","GOLDMAN SACHS","GUANABARA","HIPERCARD","HONDA","HSBC","HSBC BANK","HSBC FINANCE","HSBC INV BANK BR","HYPERMARCAS","IBI","IBM","IGUATEMI","INDUSCRED","INDUSCRED INVEST","INDUSTRIAL","INDUSVAL","ING","ING BANK","INTERCAP","INTERMEDIUM","INTERVIAS","INV CREDIT SUISSE","INVESTCRED","ITAU","ITAU BBA","ITAU CONSIGNADO","ITAU HOLDING","ITAUBANK","ITAUCARD","ITAUCRED","ITAULEASING","J. SAFRA","JBS","JOHN DEERE","JP MORGAN","JP MORGAN CH. BK","JP MORGAN CHASE","JSL","KDB","KDB BRASIL","KEB","KEB DO BRASIL","LAGE LANDEN","LEMON BANK","LOCALIZA","LOJAS AMERICANAS","LOJAS RENNER","LUSO BRASILEIRO","MARFRIG","MATONE","MAXIMA","MAXINVEST","MERCANTIL INV","MERCEDES BENZ","MERCEDES-BENZ","MERRILL LYNCH","MILLS","MODAL","MONEO","MORADA","MORGAN ST DEAN","MORGAN STANLEY","MRS LOGISTICA","NACION ARGENTINA","NATIXIS","NATIXIS BRASIL","NBC","NBC BANK","NBC BANK BRASIL","NOSSA CAIXA","NOSSA CAIXA DESENV","NOVA DUTRA","OPPORTUNITY","ORIGINAL","ORIGINAL DO AGRONEG","ORIGINAL DO AGRONEGOCIO","OURINVEST","PANAMERICANO","PARANA","PARANA BANCO","PAULISTA","PECUNIA","PETRA","PINE","PORTO REAL","PORTO SEGURO","POTTENCIAL","POUPEX","PROSPER","PSA FINANCE","PSA FINANCE BR","RABOBANK","RAIZEN ENERGIA","RANDON","RCI BRASIL","RENDIMENTO","RENNER","RODOBENS","RODOVIAS COLINAS","RURAL","RURAL INV","RURAL MAIS","SABESP","SAFRA","SAFRA DE INVESTIMENTO","SAFRA INVEST","SANTANDER","SANTANDER BRASIL ","SCANIA","SCHAHIN","SCOTIABANK","SEMEAR","SICREDI","SIMPLES","SOCIETE GENERALE","SOFISA","SOROCRED","SOROCRED CFI","STANDARD","STANDARD BI","STANDARD CHARTERED","STANDARD INV","SUL FINANCEIRA","SUMITOMO","TAESA","TELEFONICA","TELEMAR PART","TERMOPERNAMBUCO","TOKYO MITSUBISHI","TOKYO-MITSUBISHI","TOPAZIO","TOP\u00c1ZIO","TOYOTA","TRIANGULO","TRICURY","TRIUNFO PART","TRUST DO BRASIL","UBS PACTUAL","UNIBANCO","UNICARD","URUGUAY BANK","VIANORTE","VIAOESTE","VIPAL","VIVO","VOLKSWAGEN","VOLVO","VOTORANTIM","VR","WESTERN UNION","WESTLB","WOORI BANK","YAMAHA"]
    ;

    $( "#emissor" ).autocomplete({
      minLength: 2,
      source: function( request, response ) {
        var term = request.term;
        if ( term in cache ) {
          response( cache[ term ] );
          return;
        }
 
        $.getJSON( "http://localhost/viter-sf/web/app_dev.php/get_empresa_contato", request, function( data, status, xhr ) {
          cache[ term ] = data;
          response( data );
        });
      }
    });
 
    $( "#emissor" ).autocomplete({
      source: emissoresAvailableTags
    });

});

</script>

<div class="page-header">
  <h1>{{ title }}</h1>
  {% if subtitle %}
    <p>{{ subtitle }}</p>
  {% endif %}
</div>

<form action="{{ path(action) }}" method="GET" class="form-horizontal" role="form">

    <div class="form-group">
        <label class="col-sm-2 control-label" for="fundo">CNPJ</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="cnpj" id="cnpj">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="emissor">Nome emissor</label>
        <div class="col-sm-6">
<input type="text" class="form-control" name="nome" id="emissor" placeholder="Emissor" maxlength="3" value=''>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="emissor">Agência</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="agencia" id="agencia" value="">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="emissor">% Indexador</label>
        <div class="col-sm-6">
<input type="text" class="form-control" name="perc_indexador" id="perc_indexador" placeholder="% indexador" maxlength="3" value='107.5'>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="emissor">Data aquisição</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="dt_aquisicao" id="dt_aquisicao" placeholder="Data aquisição" maxlength="10" value="31/01/2014">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="emissor">Data vencimento</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="dt_vencimento" id="dt_vencimento" placeholder="Data vencimento" maxlength="10" value="31/01/2015">
        </div>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <button type="submit" class="btn btn-info">Consultar</button>
      </div>
    </div>
</form>
{% endblock %}