{% extends 'ViterGeratGeratBundle:Default:base.html.twig' %}

{% block content %}

<div class="page-header">
  <h1>{{ title }}</h1>
  {% if subtitle %}
    <p>{{ subtitle|raw }}</p>
  {% endif %}
</div>

<form action="{{ path(action) }}" method="GET" role="form">

    <div class="form-group">
      <label for="dt_ini">Pasta</label>
        <input type="text" class="form-control" name="pasta" id="pasta" 
        placeholder="Pasta" value="{{ value }}">
    </div>
    
    <button type="submit" class="btn btn-info">Processar</button>
</form>
{% endblock %}