{% extends 'ViterGeratGeratBundle:Default:base.html.twig' %}

{% block content %}
<h2><p> {{ title }} </p></h2>
<table id="table_export" >
  <thead>
    <tr>
      <th>#</th>
      <th>CNPJ</th>
      <th>Nome</th>
      <th>Data referência</th>
      <th>Valor líquido</th>
      <th>Custodiante</th>
    </tr>
    </thead>
  <tbody>
    {% for liquidezDiaria in listaLiquidezDiaria %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ liquidezDiaria.cnpj }}</td>
        <td>{{ liquidezDiaria.nome }}</td>
        <td>{{ liquidezDiaria.dataReferencia.format('d/m/Y') }}</td>
        <td>
            {% block link_relatorio %}
                <a href="
                {{ path('liquidez_diaria_detalhe', {
                      'co_prd': liquidezDiaria.cnpj,
                      'dt_atu': liquidezDiaria.dataAtualizacao.format('Y-m-d'),
                      'dt_ref': liquidezDiaria.dataReferencia.format('Y-m-d')
                      })
                }}">
                    R$ {{ liquidezDiaria.valor|number_format(2, ",", ".") }}
                </a>
            {% endblock %}
        </td>
        <td>{{ liquidezDiaria.custodiante }}</td>
    </tr>
    {% else %}
        <p> Nenhum fundo foi encontrado. </p>
    {% endfor %}
    <?php $i++; ?>
  </tbody>
</table>
{% endblock %}


<h1>Liquidez diária - Conferência</h1>

<div class="panel panel-default">
<!-- Default panel contents -->
<div class="panel-heading">
  <?php echo $produto->CO_PRD . ' - ' . 
    $produto->NO_PRD . ' - XML referência ' . $dt_ref; ?>
</div>
<?php

$nu_cotiz = $produto->NU_COTIZ;
$cotiz_calc = $nu_cotiz + 1;

?>
<table id="table_export" >
    <thead>
      <tr>
        <th class="center">#</th>
        <th class="center">Ativo</th>
        <th class="center">Dt. Vcto</th>
        <th class="center">Cód.</th>
        <th class="center">Liq.?</th>
        <th class="center">Tipo</th>
        <th class="center">Qtd fundo</th>
        <th class="center">Média qtd merc</th>
        <th class="center">Valor mercado</th>
        <th class="center">PU mercado</th>
        <th class="center">Valor líquido</th>
      </tr>
   </thead>  
    <tbody>
        <?php 
            $i = 1; 
            $soma_vr_liquidez = 0;
            $valor_liquido_cotas_fundo = 0;
        ?>
        <?php foreach ($posicao as $row) : ?>
        <?php 
              //var_dump($row);
              //echo '</br></br>';

              $produto_model = new Produto_Model(); 

              $co_tp_ati = $row['CO_TP_ATI'];

              $mtp_ati = $produto_model->getMtpAtivo($row['CO_ATI']);

              $negociacao = array();

              switch ($mtp_ati) {
                  case 11:
                      //echo "Título Público";
                      $negociacao = $produto_model->detalheNegocMercadoTitPub($dt_atu, $row['CO_ATI']);
                      break;
              }

              $dataVencimento = new DateTime($row['DT_VCTO']);

              //var_dump($row['CO_ATI']);
              //var_dump($co_tp_ati);

              $no_ati = '';
              $no_ati = $produto_model->getNoCodAtivo($row['CO_ATI']);

              //var_dump($row);
              //echo '</br></br></br>';

              //echo $no_ati . ' - ' . $row['CO_ATI'] . ' - ' . $co_tp_ati;
              //echo '</br></br>';

              switch ($co_tp_ati) {
                  case 6:
                      //ação
                      $negociacao = $produto_model->detalheNegocMercadoAcao($dt_atu, $no_ati);
                      break;
                  case 1:
                      //echo "Debênture";
                      $negociacao = $produto_model->detalheNegocMercadoDebenture($dt_atu, $no_ati);
                      break;
                  case 10:
                      //echo "Futuro";
                      $negociacao = $produto_model->detalheNegocMercadoFuturo($dt_atu, $no_ati);
                      break;                      
              }
          
            $soma_qtd = 0; 
            
            foreach ($negociacao as $negocio) {
                $soma_qtd = $soma_qtd + $negocio['NU_NEG_CONTR'];
            }

            //calcula a média de qtd negociadas
            //se for ação, a média calculada é um float
            if ($co_tp_ati == 6) {
                $media_qtd_mercado = (float) ($soma_qtd/21);
            } else {
                $media_qtd_mercado = (int) ($soma_qtd/21);
            }

            //pega a qtd de ativos do fundo
            $nu_qtd = (int) $row['NU_QTD'];
            //calcula o PU mercado
            $pu_mercado = (float)$row['VR_MERC'] / (int)$row['NU_QTD'];
            
            //$pu_mercado = (float)$row['VR_MERC'] / (int)$row['NU_QTD'];

            //calcula a liquidez
            //pega o menor dos dois valores nu_qtd (fundo) e $media_qtd_mercado (media qtd do mercado nos ultimos 
            //21 dias), o que for menor, multiplica pelo PU de mercado corrente ()
            if ($nu_qtd > $media_qtd_mercado) {
                $valor_liquidez = $media_qtd_mercado * $pu_mercado;
            } else {
                $valor_liquidez = $nu_qtd * $pu_mercado;
            }

            //se for cota de fundo de investimento, o valor líquido é o valor de mercado
            if ($row["CO_TP_ATI"] == 4) {
                $valor_liquido_cotas_fundo = $valor_liquido_cotas_fundo + (float)$row['VR_MERC'];
                $valor_liquidez = (float)$row['VR_MERC'];
            } else {
                //Faz a multiplicação pelo prazo de cotização do fundo
                //somar sempre 1 ao prazo de cotização
                $valor_liquidez = $valor_liquidez * ($fundoDiario->getFundo()->getPrazoCotizacao() + 1);
            }

            //var_dump($row);
            //echo '</br></br></br>';

            //se o valor de mercado for negativo MERCADO FUTURO
            //'zera' a liquidez
            if ($co_tp_ati == 10 && (float)$row['VR_MERC'] < 0 ) {
              $valor_liquidez = 0;
            }

            //se o ativo não é líquido, zera a liquidez
            if ($row['IC_LIQUIDO'] == 0) {
              $valor_liquidez = 0;
            }

            //se for CDB, o valor líquido é o valor de mercado
            if ($co_tp_ati ==  7 && $row['IC_LIQUIDO'] == 1) {
                $valor_liquidez = (float)$row['VR_MERC'];
            }


            //se for debenture, colocar por enquanto o valor de mercado
            if ($co_tp_ati ==  1 && $row['IC_LIQUIDO'] == 1) {
                //$valor_liquidez = (float)$row['VR_MERC'];
            }
            
            //sempre usar o menor valor
            //se for maior que o valor de mercado, o valor líquido é o valor de mercado
            if ($valor_liquidez > (float)$row['VR_MERC']) {
                $valor_liquidez = (float)$row['VR_MERC'];
            }
        ?>
        <tr>
           <td class="center"><?php echo $i; ?></td>
           <td>
            <a href="http://www.bmfbovespa.com.br/consulta-isin/DetalheCodigosIsinInformacoes.aspx?idioma=pt-br&isin=<?php echo $row['CO_ATI']; ?>"
            target="_blank">
              <?php echo $row['CO_ATI']; ?>
           </a>
           </td>
           <td><?php echo $dataVencimento->format('d/m/Y'); ?></td>
           <td><?php echo $no_ati; ?></td>
           <td class="center"><?php echo sim_nao($row['IC_LIQUIDO']); ?></td>            
           <td><?php echo $row['CO_TP_OP']; ?></td>
           <td><?php echo $nu_qtd; ?></td>
            <td>
                <?php echo anchor(
                            'RiscoLiquidez/listaNegociacaoAtivo?co_ati=' . $row['CO_ATI'] . '&dt_ref=' . formata_data($dt_ref) . '&dt_atu=' . $dt_atu, 
                            (int) $media_qtd_mercado, 
                            'title="Detalhe das negociações do ativo"'); ?>
            </td>
            <td><?php echo number_format($row['VR_MERC'],2,",","."); ?></td>
            <td><?php echo number_format($pu_mercado,2,",","."); ?></td>
            <td><?php echo number_format($valor_liquidez,2,",","."); ?></td>
        </tr>
        <?php 
            //se for cota de fundo de investimento, o valor líquido é somado somente no final
            //pois não multiplicamos o valor pelo prazo de cotização do fundo
            if ($row["CO_TP_ATI"] != 4) {
                $soma_vr_liquidez = $soma_vr_liquidez + $valor_liquidez;
            }
            $i++;
        ?>
        <?php endforeach; ?>

        <!-- Linha da coluna com o valor de CAIXA do fundo -->
        <tr>
           <td class="center"><?php echo $i+1; ?></td>
           <td><?php echo 'CAIXA0000000'; ?>&nbsp;</td>
           <td>&nbsp;</td>
           <td>&nbsp;</td>
           <td class="center">Sim</td>            
           <td>&nbsp;</td>
           <td>&nbsp;</td>
           <td>&nbsp;</td>
           <td><?php echo number_format($valorCaixa,2,",","."); ?></td>
           <td>&nbsp;</td>
           <td><?php echo number_format($valorCaixa,2,",","."); ?></td>
        </tr>
        <!-- Fim do valor de CAIXA do fundo -->
    </tbody>

  <tfoot>
    <tr class="warning">
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td colspan="2">Valor calculado</td>
      <?php
        //Totalizador - É a soma de valor de liquidez + valor de caixa + valor liquido de cotas de fundos
        $valorLiquido = $soma_vr_liquidez + $valorCaixa + $valor_liquido_cotas_fundo;
        //se o valor líquido é maior do que o PL do fundo, o valor
        //líquido fica sendo o PL do fundo
        if ($valorLiquido > $fundoDiario->getPatrimonioLiquido()) {
            $valorLiquido = $fundoDiario->getPatrimonioLiquido();
        }
      ?>
      <td><b><?php echo number_format(round($valorLiquido), 2, ",", "."); ?></b></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td colspan="2" title="Valor informado CVM Rotina diária">Valor CVM</td>
      <td><b><?php echo number_format($fundoDiario->getValorLiquidez(), 2, ",", "."); ?></b></td>
    </tr>
    <tr>
      <td colspan="2">Patrimônio Líquido</td>
      <td><b><?php echo number_format($fundoDiario->getPatrimonioLiquido(), 2, ",", "."); ?></b></td>
      <td colspan="3">Prazo cotização:</td>
      <td class="text-left"><b><?php echo $fundoDiario->getFundo()->getPrazoCotizacao(); ?></b></td>
      <td>&nbsp;</td>
      <td colspan="2">Diferença</td>
      <?php $diferenca = $fundoDiario->getValorLiquidez() - round($valorLiquido); 
        $classeCor = 'text-success';
        if ($diferenca != 0) {
            $classeCor = 'text-danger';
        }
      ?>
      <td class="<?php echo $classeCor; ?>"><b><?php echo number_format($diferenca, 2, ",", "."); ?></b></td>
    </tr>    
  </tfoot>    
</table>
</div>