</br></br>
<div class="row">
  <h2><p> Lista diferenças XML </p></h2>
  <table class="datatable" >
    <thead>
      <tr>
        <th>#</th>
        <th>Referência</th>
        <th>CNPJ</th>
        <th>Nome</th>
        <th>Ativo</th>
        <th>Passivo</th>
        <th>Total</th>
        <th>Valor XML</th>
        <th>Diferença</th>
      </tr>
      </thead>
    <tbody>
      {% for fundo in listaDiferencas %}
      <tr>
          <td>{{ loop.index }}</td>
          <td>{{ fundo.DT_REF|date("d/m/Y") }}</td>
          <td>{{ fundo.CO_PRD }}</td>
          <td>{{ fundo.NO_PRD }}</td>
          <td>{{ fundo.ATIVO|number_format(2, ",", ".") }}</td>
          <td>{{ fundo.PASSIVO|number_format(2, ",", ".") }}</td>
          <td>{{ fundo.TOTAL|number_format(2, ",", ".") }}</td>
          <td>{{ fundo.VALOR_XML|number_format(2, ",", ".") }}</td>
          <td>{{ fundo.DIFERENCA|number_format(2, ",", ".") }}</td>
      </tr>
      {% else %}
          <p> Nenhum registro encontrado. </p>
      {% endfor %}
      <?php $i++; ?>
    </tbody>
  </table>
</div>  