{% extends "layout.html.twig" %}

{% block content %}
<div class="row">
  <h2><p> {{ title }} </p></h2>
  <table class="datatable" >
    <thead>
      <tr>
        <th>#</th>
        <th>CNPJ</th>
        <th>Nome</th>
        <th>Data de referência</th>
        <th>Custodiante</th>
      </tr>
      </thead>
    <tbody>
      {% for fundo in lista %}
      <tr>
          <td>{{ loop.index }}</td>
          <td>{{ fundo.CO_PRD }}</td>
          <td>{{ fundo.NO_PRD }}</td>
          <td>{{ fundo.DT_REF|date("d/m/Y") }}</td>
          <td>{{ fundo.NO_CUSTOD }}</td>
      </tr>
      {% else %}
          <p> Nenhum fundo foi encontrado. </p>
      {% endfor %}
      <?php $i++; ?>
    </tbody>
  </table>
</div>

{% include 'Fundos/lista_diferencas_xml.html.twig' %}

{% endblock %}