{% extends 'ViterGeratGeratBundle:Default:base.html.twig' %}

{% block content %}
<h2><p> {{ title }} </p></h2>
<table id="table_export" >
  <thead>
    <tr>
      <th>#</th>
      <th>CNPJ</th>
      <th>Nome</th>
      <th>#</th>
    </tr>
    </thead>
  <tbody>
    {% for produto in produtos %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ produto.CO_PRD }}</td>
        <td>{{ produto.NO_PRD }}</td>
        <td>
        {% block link_relatorio %}
        <a href="{{ path('relatorio', {
          'id_relatorio': 4,
          'co_prd': produto.CO_PRD,
          'dt_ini': dataInicio,
          'dt_fim': dataFim,
          'dt_ref': dataReferencia,
          'dt_atu': dataAtualizacao
          }) }}">Relatório
        </a>
        {% endblock %}
        </td>
    </tr>
    {% else %}
        <p> Nenhum fundo foi encontrado. </p>
    {% endfor %}
    <?php $i++; ?>
  </tbody>
</table>
{% endblock %}