{% extends 'ViterGeratGeratBundle:Default:base.html.twig' %}

{% block content %}
<h2><p> {{ title }} </p></h2>
<table id="table_export" >
  <thead>
    <tr>
      <th>Macrotipo</th>
      <th>Código</th>
      <th>Tipo</th>
    </tr>
    </thead>
  <tbody>
    {% for ativo in ativos %}
    <tr>
        <td>{{ ativo.NO_MTP_ATI|convert_encoding('UTF-8', 'iso-8859-1') }}</td>
        <td>{{ ativo.CO_TP_ATI }}</td>
        <td>{{ ativo.NO_TP_ATI|convert_encoding('UTF-8', 'iso-8859-1') }}</td>
    </tr>
    {% else %}
        <p> Nenhum registro encontrado. </p>
    {% endfor %}
    <?php $i++; ?>
  </tbody>
</table>
{% endblock %}