{% extends "layout.html.twig" %}

{% block content %}
<h2><p> {{ title }} </p></h2>
<table class="datatable" >
  <thead>
    <tr>
      <th>#</th>
      <th>CNPJ</th>
      <th>Nome</th>
      <th title="Valor líquido calculado na rotina SIRAT">Vr líq</th>
      <th title="Valor líquido calculado pelo sistema WEB para verificação">Vr líq calculado</th>
      <th title="Diferença na verificação de liquidez diária">Diferença</th>
      <th title="Custodiante">Cust.</th>
      <th>Vr líquido D-2</th>
      <th title="Diferença do valor líquido de D-1 para D-2">Diferença</th>
    </tr>
    </thead>
  <tbody>
    {% for liquidezDiaria in listaLiquidezDiaria %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ liquidezDiaria.cnpj }}</td>
        <td>{{ liquidezDiaria.nome }}</td>  
        <td>
          <a href="http://www.gerat.mz.caixa/gerat/index.php/RiscoLiquidez/detalheLiquidezDiaria?co_prd={{ liquidezDiaria.cnpj }}&dt_ref={{ liquidezDiaria.dataReferencia.format('Y-m-d') }}&dt_atu={{ liquidezDiaria.dataAtualizacao.format('Y-m-d') }}" target="_blank">
          {{ liquidezDiaria.valor|number_format(2, ",", ".") }}
          </a>
        </td>        
        <td>{{ liquidezDiaria.valorConferencia|number_format(2, ",", ".") }}</td>
        <th>{{ (liquidezDiaria.valorConferencia - liquidezDiaria.valor)|number_format(2, ",", ".") }}</th>
        <td title="{{ liquidezDiaria.custodiante }}">{{ liquidezDiaria.custodiante|slice(0, 4) }}...</td>
        <td>{{ liquidezDiaria.valorDiaAnterior|number_format(2, ",", ".") }}
        </td>
        {% if (liquidezDiaria.valor-liquidezDiaria.valorDiaAnterior) == 0 %}
        <td class="text-danger" title="Não houve diferença na liquidez">
        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;
        {% else %}    
        <td>
        {% endif %}
        {{ (liquidezDiaria.valor-liquidezDiaria.valorDiaAnterior)|number_format(2, ",", ".") }}
        </td>
    </tr>
    {% else %}
        <p> Nenhum fundo foi encontrado. </p>
    {% endfor %}
    <?php $i++; ?>
  </tbody>
</table>
{% endblock %}