{% extends 'ViterGeratGeratBundle:Default:base.html.twig' %}

{% block content %}
<h2><p> {{ benchmarks[0].NO_BENCH }} </p></h2>
<table id="table_export" >
  <thead>
    <tr>
      <th>Benchmark</th>
      <th>Data</th>
      <th>Valor Fator</th>
      <th>Vr Ret Log Dia</th>
      <th>Vr Ret Dia</th>
      <th>Vr Duration</th>
    </tr>
    </thead>
  <tbody>
    {% for bench in benchmarks %}
    <tr>
        <td>{{ bench.NO_BENCH }}</td>
        <td>{{ bench.DT_REF|date("d/m/Y") }}</td>
        <td>{{ bench.VR_FAT|number_format(20, ",", ".") }}</td>
        <td>{{ bench.VR_RET_LOG_DIA|number_format(20, ",", ".") }}</td>
        <td>{{ bench.VR_RET_DIA|number_format(20, ",", ".") }}</td>
        <td>{{ bench.VR_DUR|number_format(0, ",", ".") }}</td>
    </tr>
    {% else %}
        <p> Nenhum benchmark foi encontrado. </p>
    {% endfor %}
    <?php $i++; ?>
  </tbody>
</table>
{% endblock %}