{% extends 'ViterGeratGeratBundle:Default:base.html.twig' %}

{% block content %}
<h2><p> {{ title }} </p></h2>
<table id="table_export" >
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Grupo</th>
      <th>Cod Tipo</th>
      <th>Tipo</th>
      <th>#</th>
    </tr>
    </thead>
  <tbody>
    {% for ativo in ativos %}
    <tr>
        <td>{{ ativo.id }}</td>
        <td>{{ ativo.nome }}</td>
        <td>{{ ativo.grupo }}</td>
        <td>{{ ativo.codigoTipo }}</td>
        <td>{{ ativo.Tipo }}</td>
        <th><a href="{{ path('alterar_ativo_mercado', {'id': ativo.id}) }}">Alterar</a></th>
    </tr>
    {% else %}
        <p> Nenhum registro encontrado. </p>
    {% endfor %}
    <?php $i++; ?>
  </tbody>
</table>
{% endblock %}