{% extends 'ViterGeratGeratBundle:Default:base.html.twig' %}

{% block content %}
<h2><p> {{ title }} </p></h2>
<table id="table_export" >
  <thead>
    <tr>
      <th>Nome</th>
      <th>Rentabilidade em {{ dataReferencia|date('m/Y') }}</th>
      <th>CNPJ</th>
    </tr>
    </thead>
  <tbody>
    {% for produto in produtos %}
    <tr>
        <td>
        {% block link_relatorio %}
        <a href="{{ path('relatorio', {
          'id_relatorio': 3,
          'co_prd': produto.CO_PRD,
          'dt_ini': dataInicio,
          'dt_fim': dataFim,
          'dt_ref': dataReferencia,
          'dt_atu': dataAtualizacao
          }) }}">{{ produto.NO_PRD }}
        </a>
        {% endblock %}
        </td>
        <td 
        {% if produto.RENT_MES < 0 %}
          class="valor-negativo"
        {% else %}
          class="valor-positivo"
        {% endif %}
        >
          {{ produto.RENT_MES|number_format(6, ",", ".") }}%
        </td>
        <td><small>{{ produto.CO_PRD }}</small></td>
    </tr>
    {% else %}
        <p> Nenhum fundo foi encontrado. </p>
    {% endfor %}
    <?php $i++; ?>
  </tbody>
</table>
{% endblock %}