{% extends 'ViterGeratGeratBundle:Default:base.html.twig' %}

{% block content %}
<h2><p> {{ title }} </p></h2>
<table id="table_export" >
  <thead>
    <tr>
      <th>CNPJ</th>
      <th>Emissor</th>
      <th>Rating</th>
      <th>PL</th>
      <th>Validade</th>
      <th>Agência</th>
    </tr>
    </thead>
  <tbody>
    {% for rating in lista %}
    <tr>
        <td>{{ rating.CO_EMISS_ABR|convert_encoding('UTF-8', 'iso-8859-1') }}</td>
        <td>{{ rating.NO_EMISS|convert_encoding('UTF-8', 'iso-8859-1') }}</td>
        <td>{{ rating.NO_RATING|convert_encoding('UTF-8', 'iso-8859-1') }}</td>
        <td>{{ rating.VR_PLMIL|number_format(2, ",", ".") }}</td>
        <td>{{ rating.DT_VIG_FIM|date("d/m/Y") }}</td>
        <td>{{ rating.NO_AGE|convert_encoding('UTF-8', 'iso-8859-1') }}</td>
    </tr>
    {% else %}
        <p> Nenhum registro encontrado. </p>
    {% endfor %}
    <?php $i++; ?>
  </tbody>
</table>
{% endblock %}