{% extends 'ViterGeratGeratBundle:Default:base.html.twig' %}

{% block content %}
<h2><p> {{ title }} </p></h2>
<table id="table_export" >
  <thead>
    <tr>
      <th>CNPJ</th>
      <th>Nome Fundo</th>
      <th>Custodiante</th>
      <th>Cód Ativo</th>
      <th>Nome Ativo</th>
      <th>Emissor</th>
      <th>Valor de Mercado</th>
      <th>Gestão</th>
    </tr>
    </thead>
  <tbody>
    {% set total = 0 %}
    {% for ativo in lista %}
    <tr>
        <td>{{ ativo.CO_PRD|convert_encoding('UTF-8', 'iso-8859-1') }}</td>
        <td>{{ ativo.NO_PRD|convert_encoding('UTF-8', 'iso-8859-1') }}</td>
        <td>{{ ativo.NO_CUSTOD|convert_encoding('UTF-8', 'iso-8859-1') }}</td>
        <td>{{ ativo.CO_ATI|convert_encoding('UTF-8', 'iso-8859-1') }}</td>
        <td>{{ ativo.NO_ATI|convert_encoding('UTF-8', 'iso-8859-1') }}</td>
        <td>{{ ativo.NO_EMISS|convert_encoding('UTF-8', 'iso-8859-1') }}</td>
        <td>{{ ativo.VR_MERC|number_format(2, ",", ".") }}</td>
        <td>{{ ativo.NO_GRU_GESTAO|convert_encoding('UTF-8', 'iso-8859-1') }}</td>
    </tr>
    {% set total = total + ativo.VR_MERC %}
    {% else %}
        <p> Nenhum registro encontrado. </p>
    {% endfor %}
    <tfoot>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Total</td>
        <td>{{ total|number_format(2, ",", ".") }}</td>
        <td></td>
    </tfoot>
    <?php $i++; ?>
  </tbody>
</table>
{% endblock %}