{% extends "layout.html.twig" %}

{% block content %}

<h2><p> {{ title }} </p></h2>
<table class="datatable" >
  <thead>
    <tr>
      <th>#</th>
      <th>CNPJ</th>
      <th>Nome</th>
      <th>Custodiante</th>
    </tr>
    </thead>
  <tbody>
    {% for produto in produtos %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ produto.CO_PRD }}</td>
        <td>{{ produto.NO_PRD }}</td>
        <td>{{ produto.NO_CUSTOD }}</td>
    </tr>
    {% else %}
        <p> Nenhum fundo foi encontrado. </p>
    {% endfor %}
    <?php $i++; ?>
  </tbody>
</table>
{% endblock %}