{% extends 'ViterGeratGeratBundle:Default:base.html.twig' %}

{% block content %}
<h2><p> {{ title }} </p></h2>
<table id="table_export" >
  <thead>
    <tr>
      <th>#</th>
      <th>Data Referência</th>
      <th>Nome Emissor</th>
      <th>Código</th>
      <th>Rating</th>
      <th>Data Emissão</th>
      <th>Vr. Limite</th>
      <th>Vr. Alocado</th>
      <th>% aloc sobre Lim</th>
      <th>CO_ALERTA</th>
      <th>Mensagem</th>
    </tr>
    </thead>
  <tbody>
    {% for ocorrencia in listaMonitoramentoDiarioEmissor %}
    <tr>
        <td>{{ ocorrencia.CO_OCORRENCIA }}</td>
        <td>{{ ocorrencia.DT_REF|date("d/m/Y") }}</td>
        <td>{{ ocorrencia.NO_EMISS|convert_encoding('UTF-8', 'iso-8859-1') }}</td>
        <td>{{ ocorrencia.CO_EMISS }}</td>
        <td>{{ ocorrencia.NO_RATING|convert_encoding('UTF-8', 'iso-8859-1') }}</td>
        <td>{{ ocorrencia.DT_EMISS|date("d/m/Y") }}</td>
        <td>{{ ocorrencia.VR_LIM|number_format(2, ",", ".") }}</td>
        <td>{{ ocorrencia.VR_ALOC|number_format(2, ",", ".") }}</td>
        <td>{{ ocorrencia.PC_ALOC_S_LIM|number_format(2, ",", ".") }}</td>
        <td>{{ ocorrencia.CO_ALERTA }}</td>
        <td>{{ ocorrencia.MENSAGEM|convert_encoding('UTF-8', 'iso-8859-1') }}</td>
    </tr>
    {% else %}
        <p> Nenhuma ocorrência foi encontrada. </p>
    {% endfor %}
  </tbody>
</table>

</br></br>

<div class="row">
  <h2><p>  </p></h2>
  <table id="table_export" >
    <thead>
      <tr class="bg-danger">
        <th>#</th>
        <th>Data Referência</th>
        <th>Nome Emissor</th>
        <th>Código</th>
        <th>Rating</th>
        <th>Data Emissão</th>
        <th>Vr. Limite</th>
        <th>Vr. Alocado</th>
        <th>% aloc sobre Lim</th>
        <th>CO_ALERTA</th>
        <th>Mensagem</th>
      </tr>
      </thead>
    <tbody>
      {% for ocorrencia in listaMonitoramentoDiarioEmissor %}
      <tr>
          <td>{{ ocorrencia.CO_OCORRENCIA }}</td>
          <td>{{ ocorrencia.DT_REF|date("d/m/Y") }}</td>
          <td>{{ ocorrencia.NO_EMISS|convert_encoding('UTF-8', 'iso-8859-1') }}</td>
          <td>{{ ocorrencia.CO_EMISS }}</td>
          <td>{{ ocorrencia.NO_RATING|convert_encoding('UTF-8', 'iso-8859-1') }}</td>
          <td>{{ ocorrencia.DT_EMISS|date("d/m/Y") }}</td>
          <td>{{ ocorrencia.VR_LIM|number_format(2, ",", ".") }}</td>
          <td>{{ ocorrencia.VR_ALOC|number_format(2, ",", ".") }}</td>
          <td>{{ ocorrencia.PC_ALOC_S_LIM|number_format(2, ",", ".") }}</td>
          <td>{{ ocorrencia.CO_ALERTA }}</td>
          <td>{{ ocorrencia.MENSAGEM|convert_encoding('UTF-8', 'iso-8859-1') }}</td>
      </tr>
      {% else %}
          <p> Nenhuma ocorrência foi encontrada. </p>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}